{% extends "admin/base_site.html" %}
{% load i18n %}


{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item">
    <a href="#" class="text-muted">{% trans 'Home' %}</a>
  </li>

  <li class="breadcrumb-item">
    <a href="{% url 'admin:usom_account_profile' %}" class="text-muted active">Profile</a>
  </li>
  <li class="breadcrumb-item">
    {% if title_sort %}
    <a href="" class="text-muted active">{{ title_sort }}</a>
    {% endif %}
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-body p-3">
          <form>
            <div class="form-group">
              <label for="email_id">Email</label>
              <input type="text" class="form-control" id="email_id">
            </div>
            <div class="form-group">
              <label for="unor_id">Unor</label>
              <select name="unor" id="unor_id" class="form-control">
                <option value="0">Pilih Unor</option>
                {% for item in unor_list %}
                <option value="{{ item.pk }}">{{ item.unitkerja }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="jabatan_id">Jabatan</label>
              <input type="text" class="form-control" id="jabatan_id">
            </div>
            <div class="form-group">
              <label for="golongan_id">Golongan</label>
              <select name="golongan" id="golongan_id" class="form-control">
                <option value="0">Pilih Golongan</option>
                {% for item in golongan_list %}
                <option value="{{ item.0 }}">{{ item.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div class="card-footer p-3">
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
          <button type="button" class="btn btn-sm btn-secondary">Kembali</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}