{% extends "admin/base_site.html" %}
{% load i18n widgets %}


{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item">
    <a href="#" class="text-muted">{% trans 'Home' %}</a>
  </li>

  <li class="breadcrumb-item">
    <a href="{% url 'admin:usom_account_profile' %}" class="text-muted active">Profile</a>
  </li>
  <li class="breadcrumb-item">
    {% if title_sort %}
    <a href="" class="text-muted active">{{ title_sort }}</a>
    {% endif %}
  </li>
</ul>
{% endblock %}

{% block content %}
<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <form method="post" >
        <div class="card-body p-5">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3 form-{{field.name}} {% if field.is_hidden %}field-hidden{% endif %}">
                {% if field|is_bool %}
                {{field}}
                <label for="{{field.auto_id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {% elif field|is_select %}
                <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {{ field|addcls:'form-control' }}
                {% else %}
                <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {{ field|addcls:'form-control form-control-sm' }}
                {% endif %}
                {% if field.field.help_text %}
                <div id="{{field.id}}" style="font-weight: bolder;" class="form-text">{{field.field.help_text}}</div>
                {% endif %}
              </div>
        {% endfor %}
          </div>
          <div class="card-footer p-5">
            <button type="submit" class="btn btn-sm btn-warning"><i class="fas fa-edit" ></i> Ubah</button>
            <a href="{% url 'admin:usom_account_profile' %}" class="btn btn-sm btn-success"><i class="fas fa-chevron-left"></i> Kembali</a>
          </div>
        </div>
      </form>
    </div>
  <!-- </div> -->
<!-- </div> -->
{% endblock %}