{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
  .select2-selection.select2-selection--single {
    min-height: 45px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 45px;
  }
</style>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  var card = new KTCard('kt_card_1');
  var card_atasan = new KTCard('kt_card_2');
  card.on('reload', function (card) {
    KTApp.block(card.getSelf(), {
      overlayColor: '#ffffff',
      type: 'loader',
      state: 'primary',
      opacity: 0.3,
      size: 'lg'
    });
  });

  card_atasan.on('reload', function (card) {
    KTApp.block(card.getSelf(), {
      overlayColor: '#ffffff',
      type: 'loader',
      state: 'primary',
      opacity: 0.3,
      size: 'lg'
    });
  });

  $(function(){
    $('.select2').select2()
  })

  $('#unor_atasan_id').on('change', function(e){
    let value = e.target.value;
    console.log({value})
    $.ajax({
      url: '{% url "admin:usom_account_as_json" %}',
      type: 'GET',
      data: {
        unor_id: value
      },
      success: function(response){
        if (response.success){
          let options = '<option value="0">Pilih Unor Atasan</option>'
          response.results.map((item, index) => {
            options += `<option value="${item.id}">${item.text}</option>`;
          })
          $('#atasan_id').html(options)
          $('#atasan_id').select2();
        }
      }
    })
  })

  $('#submit_pegawai_atasan_id').on('click', function(){
    let atasan_id = $('#atasan_id').val()
    if (atasan_id) {
      $.ajax({
        url: '{% url "admin:usom_account_set_atasan" %}',
        type: 'GET',
        data: {
          atasan_id: atasan_id
        },
        success: function(response){
          if (response.success) {
            toastr.success("Berhasil menambahkan atasan");
            window.location.reload();
          } else {
            toastr.warning(response.message);
          }
        }
      })
    }
  })

  $('#btn_change_atasan_id').on('click', function(){
    $('#modalatasan_id').modal('show')
    $('.select2').select2();
  })

  const sinkron_data_pegawai = (nip="", type="profile") => {
    if (nip) {
      $.ajax({
        url: `${BASE_URL}/admin/usom/account/sync-data`,
        type: 'GET',
        data: {
          nip: nip
        },
        beforeSend: function(){
          if (type == "profile") {
            card.reload()
          } else {
            card_atasan.reload()
          }
        },
        success: function(response) {
          var card_elem = $('#kt_card_1')
          if (type != "profile") {
            card_elem = $('#kt_card_2')
          }

          if (response.success) {
            toastr.success("berhasil sinkron data SIPO");
            for (const [key, value] of Object.entries(response.data)) {
              let value_ = value ? value : '-';
              card_elem.find(`.data-${key}`).text(value_)
            }
          }

          if (type == 'profile') {
            setTimeout(function () {
              KTApp.unblock(card.getSelf());
            }, 1000);
          } else {
            setTimeout(function () {
              KTApp.unblock(card_atasan.getSelf());
            }, 1000);
          }
        },
        error: function(){
          if (type == 'profile') {
            KTApp.unblock(card.getSelf());
          } else {
            KTApp.unblock(card_atasan.getSelf());
          }
        }
      })
    }
  }
</script>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item">
    <a href="#" class="text-muted">{% trans 'Home' %}</a>
  </li>
  <li class="breadcrumb-item">
    {% if title_sort %}
    <a href="" class="text-muted active">{{ title_sort }}</a>
    {% endif %}
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="">
  <div class="row">
    <div class="col-md-6" id="kt_profile_aside">
      <!--begin::Card-->
      <div class="card card-custom gutter-b" id="kt_card_1">
        <!--begin::Body-->
        <div class="card-body">
          <!--begin::User-->
          <div class="d-flex align-items-center">
            <div class="symbol symbol-light-success symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
              <span class="symbol-label font-size-h1 font-weight-bold text-uppercase">{{ request.user.nama_lengkap.0 }}</span>
              <!-- <div class="symbol-label" style="background-image:url('/static/metronic/assets/media/users/300_13.jpg')"></div> -->
              <!-- <i class="symbol-badge bg-success"></i> -->
            </div>
            <div>
              <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{ request.user.get_complete_name }}</a>
              <div class="text-muted data-nama_lengkap">{{ request.user.username }}</div>
              <div class="mt-3">
                <a href="{% url 'admin:usom_account_profile_edit' id=request.user.id %}" class="btn btn-primary btn-sm"><i class="flaticon-edit"></i> Edit</a>
                <button onclick="sinkron_data_pegawai('{{ request.user.username }}')" class="btn btn-warning btn-sm" id="m_blockui_1_4"><i class="flaticon2-refresh"></i> Sinkron Data SIPO</button>
              </div>
            </div>
          </div>
          <!--end::User-->
          <!--begin::Contact-->
          <div class="pt-8 pb-6">
            <div class="mb-2">
              <span class="font-weight-bold mr-2">Email:</span><br>
              <span class="text-muted text-hover-primary">{{ request.user.email|default:'-' }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-bold mr-2">Unor:</span><br>
              <span class="text-muted data-unor">{{ request.user.unitkerja|default_if_none:'-' }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-bold mr-2">Jabatan:</span><br>
              <span class="text-muted data-jabatan">{{ request.user.jabatan|default_if_none:'-' }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-bold mr-2">Jenis Jabatan:</span><br>
              <span class="text-muted data-jenis_jabatan">{{ request.user.jenis_jabatan|default_if_none:'-' }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-bold mr-2">Golongan:</span><br>
              <span class="text-muted data-golongan">{{ request.user.golongan|default_if_none:'-' }}</span>
            </div>
            <div class="mb-2">
              <span class="font-weight-bold mr-2">Eselon:</span><br>
              <span class="text-muted data-eselon">{{ request.user.eselon|default_if_none:'-' }}</span>
            </div>
          </div>
          <!--end::Contact-->
          <!--begin::Contact-->
          <!-- <div class="pb-6">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</div> -->
          <!--end::Contact-->
          <!-- <a href="#" class="btn btn-light-success font-weight-bold py-3 px-6 mb-2 text-center btn-block">Profile Overview</a> -->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Card-->
    </div>

    <div class="col-md-6">
      <div class="card card-custom gutter-b" id="kt_card_2">
        <div class="card-body p-0">
          <div class="align-items-center">
            <div class="bg-dark p-5 rounded">
              <span class="font-size-h5 font-weight-bold text-uppercase text-white">Informasi Data Atasan</span>
              {% if atasan %}
              <div class="mt-5">
                <button type="button" class="btn btn-primary btn-sm" id="btn_change_atasan_id"><i class="flaticon-network"></i> Ganti Atasan</button>
                <button type="button" class="btn btn-warning btn-sm" onclick="sinkron_data_pegawai('{{ atasan.username }}', 'atasan')"><i class="flaticon2-refresh"></i> Singkron Data SIPO</button>
              </div>
              {% endif %}
            </div>

            <div class="p-5">
              {% if atasan %}
              <div class="mb-2 mt-5">
                <span class="font-weight-bold mr-2">NIP:</span><br>
                <span class="text-muted data-nip">{{ atasan.username }}</span>
              </div>
              <div class="mb-2">
                <span class="font-weight-bold mr-2">Nama:</span><br>
                <span class="text-muted data-nama_lengkap">{{ atasan.get_complete_name }}</span>
              </div>
              <div class="mb-2">
                <span class="font-weight-bold mr-2">Unor:</span><br>
                <span class="text-muted data-unor">{{ atasan.unitkerja|default_if_none:'-' }}</span>
              </div>
              <div class="mb-2">
                <span class="font-weight-bold mr-2">Jabatan:</span><br>
                <span class="text-muted data-jabatan">{{ atasan.jabatan|default_if_none:'-' }}</span>
              </div>
              <div class="mb-2">
                <span class="font-weight-bold mr-2">Jenis Jabatan:</span><br>
                <span class="text-muted data-jenis_jabatan">{{ atasan.jenis_jabatan|default_if_none:'-' }}</span>
              </div>
              <div class="mb-2">
                <span class="font-weight-bold mr-2">Golongan:</span><br>
                <span class="text-muted data-golongan">{{ atasan.golongan|default_if_none:'-' }}</span>
              </div>
              <div class="mb-2">
                <span class="font-weight-bold mr-2">Eselon:</span><br>
                <span class="text-muted data-eselon">{{ atasan.eselon|default_if_none:'-' }}</span>
              </div>
              {% else %}
              <span class="text-muted">Atasan belum disetting, silahkan pilih pegawai atasan Anda terlebih dahulu sebelum menginputkan data SKP.</span>

              <div class="pt-5">
                <div class="form-group">
                  <label for="atasan_id">Unor Atasan</label>
                  <select name="unor_atasan" id="unor_atasan_id" class="form-control select2">
                    <option value="0">Pilih Unor Atasan</option>
                    {% if unor_list %}
                    {% for item in unor_list %}
                    <option value="{{ item.pk }}">{{ item.unitkerja }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="atasan_id">Atasan</label>
                  <select name="atasan" id="atasan_id" class="form-control select2"></select>
                </div>
                <button type="button" id="submit_pegawai_atasan_id" class="btn btn-light-success font-weight-bold">Set Pegawai Atasan</button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if atasan %}
<!-- Modal-->
<div class="modal fade" id="modalatasan_id" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informasi Data Atasan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="atasan_id">Unor Atasan</label>
          <select name="unor_atasan" id="unor_atasan_id" class="form-control select2" style="width: 100%;">
            <option value="0">Pilih Unor Atasan</option>
            {% if unor_list %}
            {% for item in unor_list %}
            <option value="{{ item.pk }}">{{ item.unitkerja }}</option>
            {% endfor %}
            {% endif %}
          </select>
        </div>
        <div class="form-group">
          <label for="atasan_id">Atasan</label>
          <select name="atasan" id="atasan_id" class="form-control select2" style="width: 100%;">
            <option value="0">Pilih Atasan</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary font-weight-bold" id="submit_pegawai_atasan_id">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}