{% load static skp_template %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io' %}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io' %}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io' %}/favicon-16x16.png">
    <link rel="manifest" href="{% static 'favicon_io' %}/site.webmanifest">
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 13px;
        }
        .no-border td, .no-border th {
            border: unset !important;
            padding: 8px;
        }
        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .t-c {
            text-align: center;
        }
        
        .bg-blue {
            background-color: #86caff;
        }

        .m-0 {
            margin: 0;
        }

        .contents {
            padding: 10px 30px 10px 30px;
        }
        .w-50{
            width: 50%;
        }
        .table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
            border: 0;
        }
    </style>
</head>
<!-- <body onload="window.print();"> -->
<body>
    <div class="contents">
        <div style="text-align: center; margin: 20px;">
            <h4 class="m-0">SASARAN KINERJA PEGAWAI</h4>
            <h4 class="m-0">PENDEKATAN HASIL KERJA KUANTITATIF</h4>
            {% if obj.jenis_jabatan == 1 %}
            <h4 class="m-0">BAGI PEJABAT PIMPINAN TINGGI DAN PIMIPINAN UNIT KERJA MANDIRI</h4>
            {% else %}
            <h4 class="m-0">BAGI PEJABAT ADMINISTRASI DAN PEJABAT FUNGSIONAL</h4>
            {% endif %}
        </div>
        <div style="display: flex;">
            <div class="w-50">
                <h5 class="m-0">
                    {{obj.unor.unitkerja}} 
                </h5>
            </div>
            <div class="w-50">
                <h5 class="m-0" style="text-align: end;">
                    PERIODE PENILAIAN: {% get_complete_periode obj.periode_awal obj.periode_akhir %} </h5>
                </h5>
            </div>
        </div>
        <table>
            <thead class="bg-blue">
                <tr>
                    <th style="width: 5%;">NO</th>
                    <th colspan="2">PEGAWAI YANG DINILAI</th>
                    <th style="width: 5%;">NO</th>
                    <th colspan="2">PEJABAT PENILAI KINERJA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="t-c">1</td>
                    <td style="width: 15%;">NAMA</td>
                    <td>{{ obj.detailsasarankinerja.nama_pegawai }}</td>
                    <td class="t-c">1</td>
                    <td style="width: 15%;">NAMA</td>
                    <td>{{ obj.detailsasarankinerja.nama_pejabat }}</td>
                </tr>
                <tr>
                    <td class="t-c">2</td>
                    <td>NIP</td>
                    <td>{{ obj.detailsasarankinerja.nip_pegawai }}</td>
                    <td class="t-c">2</td>
                    <td>NIP</td>
                    <td>{{ obj.detailsasarankinerja.nip_pejabat }}</td>
                </tr>
                <tr>
                    <td class="t-c">3</td>
                    <td>PANGKAT / GOL. RUANG</td>
                    <td>{{ obj.detailsasarankinerja.golongan_pegawai|default:'-' }}</td>
                    <td class="t-c">3</td>
                    <td>PANGKAT / GOL. RUANG</td>
                    <td>{{ obj.detailsasarankinerja.golongan_pejabat|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="t-c">4</td>
                    <td>JABATAN</td>
                    <td>{{ obj.detailsasarankinerja.jabatan_pegawai|default:'-' }}</td>
                    <td class="t-c">4</td>
                    <td>JABATAN</td>
                    <td>{{ obj.detailsasarankinerja.jabatan_pejabat|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="t-c">5</td>
                    <td>UNIT KERJA</td>
                    <td>{{ obj.detailsasarankinerja.unor_pegawai }}</td>
                    <td class="t-c">5</td>
                    <td>UNIT KERJA</td>
                    <td>{{ obj.detailsasarankinerja.unor_pejabat }}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tr class="bg-blue">
                {% if obj.jenis_jabatan != 1 %}
                <th colspan="6" align="left">HASIL KERJA</th>
                {% else %}
                <th colspan="5" align="left">HASIL KERJA</th>
                {% endif %}
            </tr>
            {% if obj.jenis_jabatan != 1 %}
            <tr class="bg-blue">
                <th>NO</th>
                <th>RENCANA HASIL KERJA PIMPINAN YANG DIINTERVENSI</th>
                <th>RENCANA HASIL KERJA</th>
                <th>ASPEK</th>
                <th>INDIKATOR KINERJA INDIVIDU</th>
                <th>TARGET</th>
            </tr>
            {% else %}
            <tr class="bg-blue">
                <th>NO</th>
                <th>RENCANA HASIL KERJA</th>
                <th>INDIKATOR KINERJA INDIVIDU</th>
                <th>TARGET</th>
                <th>PERSPEKTIF</th>
            </tr>
            {% endif %}
            <tr class="bg-blue">
                <th>(1)</th>
                <th>(2)</th>
                <th>(3)</th>
                <th>(4)</th>
                <th>(5)</th>
                {% if obj.jenis_jabatan != 1 %}
                <th>(6)</th>
                {% endif %}
            </tr>
            <tr class="bg-blue">
                {% if obj.jenis_jabatan != 1 %}
                <th colspan="6" align="left">UTAMA</th>
                {% else %}
                <th colspan="5" align="left">UTAMA</th>
                {% endif %}
            </tr>

            {% if obj.jenis_jabatan == 1 %}
                {% for utama in obj.get_rencanakerja_utama %}
                {% with count_indikator=utama.indikatorkinerjaindividu_set.all.count|add:"1" %}
                <tr>
                    {% if utama.indikatorkinerjaindividu_set.all.count == 0 %}
                    <td rowspan="{{count_indikator|add:"1"}}" style="vertical-align: top; text-align: center;">{{ forloop.counter }}</td>
                    <td rowspan="{{count_indikator|add:"1"}}" style="vertical-align: top;">{{ utama.rencana_kerja }} {% if utama.penugasan_dari %}(Penugasan dari {{ utama.penugasan_dari|default:'-' }}){% endif %}</td>
                    {% else %}
                    <td rowspan="{{count_indikator}}" style="vertical-align: top; text-align: center;">{{ forloop.counter }}</td>
                    <td rowspan="{{count_indikator}}" style="vertical-align: top;">{{ utama.rencana_kerja }} {% if utama.penugasan_dari %}(Penugasan dari {{ utama.penugasan_dari|default:'-' }}){% endif %}</td>
                    {% endif %}
                </tr>
                {% endwith %}
                {% if utama.indikatorkinerjaindividu_set.all.count > 0 %}
                    {% for indikator in utama.indikatorkinerjaindividu_set.all %}
                        <tr>
                            <td>{{ indikator.perspektif|default:'-' }}</td>
                            <td>{{ indikator.indikator }}</td>
                            <td>{{ indikator.target }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}
            {% else %}
                {% for utama in obj.get_rencanakerja_utama %}
                {% with count_indikator=utama.indikatorkinerjaindividu_set.all.count|add:"1" %}
                <tr>
                    <td rowspan="{{count_indikator}}" style="vertical-align: top; text-align: center;">{{ forloop.counter }}</td>
                    {% if obj.jenis_jabatan != 1 %}
                    <td rowspan="{{count_indikator}}" style="vertical-align: top;">
                        {% if utama.induk %}
                        {{ utama.induk.rencana_kerja }}
                        {% comment %} {% is_fisrt_parent obj.id utama.id utama.induk.id as fisrt_parent %}
                        {% if fisrt_parent %}
                        {% endif %} {% endcomment %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    {% endif %}
                    <td rowspan="{{count_indikator}}" style="vertical-align: top;">{{ utama.rencana_kerja }}</td>
                </tr>
                {% endwith %}
                {% if utama.indikatorkinerjaindividu_set.all.count > 0 %}
                {% for indikator in utama.indikatorkinerjaindividu_set.all %}
                <tr>
                    <td>{{ indikator.aspek|default:'-' }}</td>
                    <td>{{ indikator.indikator }}</td>
                    <td>{{ indikator.target }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endif %}

            <tr class="bg-blue">
                {% if obj.jenis_jabatan != 1 %}
                <th colspan="6" align="left">TAMBAHAN</th>
                {% else %}
                <th colspan="5" align="left">TAMBAHAN</th>
                {% endif %}
            </tr>
            
            {% for tambahan in obj.get_rencanakerja_tambahan %}
            {% with count_indikator=tambahan.indikatorkinerjaindividu_set.all.count|add:"1" %}
            <tr>
                {% if tambahan.indikatorkinerjaindividu_set.all.count > 0 %}
                <td rowspan="{{count_indikator}}" style="vertical-align: top; text-align: center;">{{ forloop.counter }}</td>
                {% if obj.jenis_jabatan != 1 %}
                <td rowspan="{{count_indikator}}" style="vertical-align: top;">
                    {% if tambahan.induk %}
                    {{ tambahan.induk.rencana_kerja }}
                    {% comment %} {% is_fisrt_parent obj.id tambahan.id tambahan.induk.id as fisrt_parent %}
                    {% if fisrt_parent %}
                    {% endif %} {% endcomment %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                {% endif %}
                <td rowspan="{{count_indikator}}" style="vertical-align: top;">{{ tambahan.rencana_kerja }} {% if tambahan.penugasan_dari %}(Penugasan dari {{ tambahan.penugasan_dari|default:'-' }}){% endif %}</td>
                {% else %}
                <td rowspan="{{count_indikator|add:"1"}}" style="vertical-align: top; text-align: center;">{{ forloop.counter }}</td>
                {% if obj.jenis_jabatan != 1 %}
                <td rowspan="{{count_indikator|add:"1"}}" style="vertical-align: top;">
                    {% if tambahan.induk %}
                    {{ tambahan.induk.rencana_kerja }}
                    {% comment %} {% is_fisrt_parent obj.id tambahan.id tambahan.induk.id as fisrt_parent %}
                    {% if fisrt_parent %}
                    {% endif %} {% endcomment %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                {% endif %}
                <td rowspan="{{count_indikator|add:"1"}}" style="vertical-align: top;">{{ tambahan.rencana_kerja }} {% if tambahan.penugasan_dari %}(Penugasan dari {{ tambahan.penugasan_dari|default:'-' }}){% endif %}</td>
                {% endif %}
            </tr>
            {% endwith %}
            {% if tambahan.indikatorkinerjaindividu_set.all.count > 0 %}
            {% for indikator in tambahan.indikatorkinerjaindividu_set.all %}
            <tr>
                {% if obj.jenis_jabatan != 1 %}
                <td>{{ indikator.aspek|default:'-' }}</td>
                <td>{{ indikator.indikator }}</td>
                <td>{{ indikator.target }}</td>
                {% else %}
                <td>{{ indikator.perspektif|default:'-' }}</td>
                <td>{{ indikator.indikator }}</td>
                <td>{{ indikator.target }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <table>
            <thead class="bg-blue">
                <tr>
                    <th colspan="5" align="left">PERILAKU KERJA</th>
                </tr>
            </thead>
            <tbody>
                {% for item in perilakukerja_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.perilaku_kerja }}</td>
                    <td>Ekspektasi Khusus Pimpinan:</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding: 0px;" >
                        <ol>
                        {% for subitem in item.daftarperilakukerja_set.all %}
                        <li>{{ subitem.keterangan }}</li>
                        {% endfor %}
                        </ol>
                    </td>
                    <td style="width: 15%;">
                        {% daftar_ekspetasi item.id obj.id "ya" %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead class="bg-blue">
                <tr>
                    <th colspan="5" align="left">LAMPIRAN</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lampiran_list %}
                <tr>
                    <td colspan="5" class="bg-blue" >{{item.lampiran}}</td>
                    {% daftar_lampiran item.id obj.id "ya" %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if show_ttd %}
        <div style="padding-top: 20px;">
            <table class="no-border">
                <tr>
                    <td valign="bottom" style="text-align: center;">Pegawai yang Dinilai</td>
                    <td valign="bottom" style="text-align: center;">Tulungagung, {% now "d F Y" %}<br>Pejabat Penilai Kinerja</td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 30px;" ></td>
                </tr>
                <tr>
                    <td style="text-align: center;">{{obj.detailsasarankinerja.nama_pegawai}}<br>NIP. {{obj.detailsasarankinerja.nip_pegawai}}</td>
                    <td style="text-align: center;">{{obj.detailsasarankinerja.nama_pejabat}}<br>NIP. {{obj.detailsasarankinerja.nip_pejabat}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
    </div>
</body>
</html>