{% extends 'admin/change_form.html' %}
{% load static %}

{% block content %}
{{ block.super }}
{% endblock content %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'loading-overlay/loadingoverlay.min.js' %}"></script>
{% endblock extra_js %}

{% block custom_js %}
{{ block.super }}
<script>
    let atasan = "{{request.user.atasan.id}}"
    let jenis_jabatan = "{{request.user.get_jenis_jabatan_display}}"
    let skp_atasan_id = "{{original.induk.id}}"
    const handleLoadOptionInduk = () =>{
        $.ajax({
            url:`${BASE_URL}/admin/skp/sasarankinerja/option`,
            method:"GET",
            data:{
                atasan:atasan
            },
            beforeSend:function(){
                $(".field-induk").LoadingOverlay("show", {
                    background  : "rgba(212, 212, 212, 0.31)"
                });
                $('#id_induk').prop('disabled','disabled')
            },
            success:function(res){
                if(res.success && jenis_jabatan != "JPT"){
                    html = `<option value >Pilih SKP Atasan</option>`
                    res.data.map(item=>{
                        html += `<option value="${item.id}">${item.text}</option>`
                    })
                    $('#id_induk').html(html).select2()
                    if(skp_atasan_id != ""){
                        $('#id_induk').val(skp_atasan_id).trigger('change')
                    }
                }
            },
            complete:function(){
                $(".field-induk").LoadingOverlay('hide')
                $('#id_induk').prop('disabled','')
            }
        })
    }
    {% if not has_delete_permission and not has_change_permission and original %}
    let obj_id = "{{obj.id}}"
    const HandleLoadData = () =>{
        let card_sasaran_kinerja = new KTCard('card-sasaran_kinerja');
        $.ajax({
            url:`${BASE_URL}/admin/skp/sasarankinerja/${obj_id}/view`,
            method: "GET",
            beforeSend: function(){
                KTApp.block(card_sasaran_kinerja.getSelf(), {
                    overlayColor: '#ffffff',
                    type: 'loader',
                    state: 'primary',
                    opacity: 0.3,
                    size: 'lg'
                });
            },
            success: function(res){
                keys = Object.keys(res.data)
                console.log(keys)
                keys.map((item, idx)=>{
                    $("#value-"+item).html(res.data[item])
                })
            },
            complete: function(){
                console.log("complete")
                setTimeout(KTApp.unblock(card_sasaran_kinerja.getSelf()), 1000);
            }
        })
    }
    {% endif %}
    $(function(){
        $("#sasarankinerja_form").find('.card-custom').attr("id","card-sasaran_kinerja")
        handleLoadOptionInduk()
        HandleLoadData()
    })
</script>
{% endblock custom_js %}