{% extends "admin/base_site.html" %}
{% load i18n static admin_list admin_urls suit_list suit_tags %}


{% block content %}
    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
    {% block search %}{% search_form cl %}{% endblock %}
    {% block extra-tools %}{% endblock %}

    <div class="row">
        <div class="col-lg-12">
            {% if cl.formset.errors %}
            <p class="errornote">
                {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ cl.formset.non_form_errors }}
            {% endif %}
        </div>
    </div>

    <div class="card card-custom" id="kt_card_1">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    {% block extra-object-tools %}
                    {% block header-extra-object-tools %}
                    Pilih {{ cl.opts.verbose_name_plural|capfirst }}
                    {% endblock %}
                    {% endblock %}
                </h3>
            </div>
            <div class="card-toolbar">
                {% block actions %}
                    {% block filters %}
                    {% if cl.has_filters %}
                    <div class="btn-group btn-sm">
                        <button type="button" class="btn btn-primary btn-sm">{% trans 'Filter' %}</button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <div class="dropdown-menu">
                                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                            </div>
                        </button>
                    </div>
                    {% endif %}
                {% endblock %}
                
                {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <a href="{{ add_url }}" class="btn btn-light-primary font-weight-bolder btn-sm"><i
                        class="nav-icon fas fa-plus"></i>
                    {% trans 'Add' %}</a>
                {% endif %}
                {% endblock %}
                
                {% block sync %}
                {% endblock %}
            </div>
        </div>
        <div class="card-body p-0">
            <form id="changelist-form" action="" method="post" {% if cl.formset.is_multipart %}
                enctype="multipart/form-data" {% endif %}>{% csrf_token %}
                <div class="card-body p-0">
                    {% if cl.formset %}
                        <div>{{ cl.formset.management_form }}</div>
                    {% endif %}
                    {% block result_list %}
                        {% block custom_action %}
                            {% if action_form and cl.full_result_count %}
                                <div style="margin-bottom: 15px;">{% admin_actions %}</div>
                            {% endif %}
                        {% endblock %}
                        {% block custom_result_list %}
                            {% result_list cl %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </form>
        </div>
        {% block footer %}
        {{ block.super }}
        <div class="card-footer">
            <div class="text-center">
                {% block pagination %}{% pagination cl %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}