{% extends 'admin/base_site.html' %}
{% load widgets skp_template static %}

{% block custom_style %}
{{ block.super }}
<style>
  table.table-custom th{
    font-size: 10pt;
    color:#fdfdfd !important;
  }
  .field-hidden{
    display: none;
  }
  .btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .table-custom th{
    background-color: #2196f3;
  }
</style>
{% endblock custom_style %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item text-muted">
    <a href="/admin" class="text-muted">Home</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="/admin/skp" class="text-muted">Skp</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="{% url 'admin:skp_sasarankinerja_changelist' %}" class="text-muted">Sasaran Kinerja</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="#" class="text-muted">Detail Sasaran Kinerja</a>
  </li>
</ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="row px-4 pb-3">
  <div class="col-md-4">
    <div class="d-flex">
      <label class="mx-1 py-2" style="min-width: 100px;">Status SKP</label>
      <input type="text" readonly class="form-control form-control-sm" id="staticEmail" value="{{obj.get_status_display}}">
    </div>
    {% if obj.keterangan %}
    <div class="d-flex">
      <label class="mx-1 py-2" style="min-width: 100px;">Keterangan</label>
      <input type="text" readonly class="form-control form-control-sm" id="staticEmail" value="{{obj.keterangan|default_if_none:"-"}}">
    </div>
    {% endif %}
  </div>

  <div class="col-md-8 d-flex flex-row-reverse">
    {% if obj.status == 1 %}
    <button style="align-self: center;" class="btn btn-sm btn-warning" id="btn_action_sinkron_ekinerja_id"><i class="fas fa-sync-alt"></i> Sinkron dengan e-kinerja</button>
    <button style="align-self: center;" class="btn btn-sm btn-primary mr-1" id="action_ajukan_skp_id"><i class="fas fa-paper-plane"></i> Ajukan SKP</button>
    <button style="align-self: center;" class="btn btn-sm btn-danger mr-1" id="action_archive_skp_id"><i class="flaticon2-trash"></i> Archivekan SKP</button>
    {% endif %}
    <a style="align-self: center;" id="btn-cetak-skp" class="btn btn-success btn-sm mr-1" href="{% url 'admin:skp_sasarankinerja_cetak' obj.id %}">
      <i class="fas fa-print"></i> Cetak SKP
    </a>
    {% comment %} {% if penilai_view or obj.jenis_jabatan == 1 %} {% endcomment %}
    {% if penilai_view %}
    <button style="align-self: center;" id="btn-edit" type="button" class="btn btn-sm btn-warning mr-1" data-toggle="modal" data-target="#modal_edit_status">
      <i class="fas fa-edit"></i> Edit Status
    </button>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card card-custom" id="card-pegawai">
      <div class="card-header bg-primary">
          <h6 class="card-title text-white m-0">PEGAWAI YANG DINILAI</h6>
          <div class="card-toolbar m-0 p-0">
            <button class="btn btn-sm btn-warning" data-jenis="pegawai" data-url="{% url 'admin:skp_sasarankinerja_sync_data_pegawai' obj.pegawai.id %}" data-id="{{obj.pegawai.id}}" onclick="handleSyncPegawai($(this))"><i class="fas fa-sync" ></i> Muat Ulang</button>
          </div>
      </div>
      <div class="card-body p-0">
        <table class="table" id="pegawai">
          <tr>
            <td style="width: 30%;">Nama</td>
            <td style="width: 5%;">:</td>
            <td class="nama" >{{obj.detailsasarankinerja.nama_pegawai}}</td>
          </tr>
          <tr>
            <td>NIP</td>
            <td>:</td>
            <td class="nip" >{{obj.detailsasarankinerja.nip_pegawai}}</td>
          </tr>
          <tr>
            <td>Pangkat / Gol. Ruang</td>
            <td>:</td>
            <td class="golongan" >{{obj.detailsasarankinerja.golongan_pegawai}}</td>
          </tr>
          <tr>
            <td>Jabatan</td>
            <td>:</td>
            <td class="jabatan" >{{obj.detailsasarankinerja.jabatan_pegawai}}</td>
          </tr>
          <tr>
            <td>Unit Kerja</td>
            <td>:</td>
            <td class="unitkerja">{{obj.detailsasarankinerja.unor_pegawai}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-custom" id="card-penilai">
      <div class="card-header bg-primary">
          <h6 class="card-title text-white m-0">PEJABAT PENILAI KINERJA</h6>
          {% if obj.pejabat_penilai %}
          <div class="card-toolbar m-0 p-0">
            <button class="btn btn-sm btn-warning" data-jenis="atasan_penilai" data-url="{% url 'admin:skp_sasarankinerja_sync_data_pegawai' obj.pejabat_penilai.id %}" data-id="{{obj.pejabat_penilai.id}}" onclick="handleSyncPegawai($(this))"><i class="fas fa-sync" ></i> Muat Ulang</button>
          </div>
          {% endif %}
      </div>
      <div class="card-body p-0">
        <table class="table" id="atasan_penilai">
          <tr>
            <td style="width: 30%;">Nama</td>
            <td style="width: 5%;">:</td>
            <td class="nama">{{obj.detailsasarankinerja.nama_pejabat|default_if_none:""}}</td>
          </tr>
          <tr>
            <td>NIP</td>
            <td>:</td>
            <td class="nip">{{obj.detailsasarankinerja.nip_pejabat|default_if_none:""}}</td>
          </tr>
          <tr>
            <td>Pangkat / Gol. Ruang</td>
            <td>:</td>
            <td class="golongan" >{{obj.detailsasarankinerja.golongan_pejabat|default_if_none:""}}</td>
          </tr>
          <tr>
            <td>Jabatan</td>
            <td>:</td>
            <td class="jabatan" >{{obj.detailsasarankinerja.jabatan_pejabat|default_if_none:""}}</td>
          </tr>
          <tr>
            <td>Unit Kerja</td>
            <td>:</td>
            <td class="unitkerja" >{{obj.detailsasarankinerja.unor_pejabat|default_if_none:""}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end mt-3 pr-4" style="padding: unset;">
  <h4 style="margin: unset;">Periode Penilaian: {{obj.get_periode}}</h4>
</div>

<div class="row">
  <div class="col-md-12 pt-3">
    <div class="card">
      <div class="d-flex justify-content-between card-header py-4 px-5">
        <h6 class="d-flex align-items-center m-0">HASIL KERJA</h6>
        <div>
          {% if obj.status == 1 %}
          <button class="btn btn-sm btn-primary mx-2" data-toggle="modal" data-edit="false" data-target="#tambahrhk"><i class="fas fa-plus"></i> Tambah RHK</button>
          {% endif %}
          <!-- <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#tambahindikator"><i class="fas fa-plus"></i> Tambah Indikator</button> -->
        </div>
      </div>
      <div class="card-body p-2">
        <div class="table-responsive" style="border-radius: 5px;">
          <table class="table table-bordered mb-0 table-custom" id="result_list">
            <thead style="background: #2196f3;">
              <tr>
                <th valign="center">No</th>
                {% if obj.jenis_jabatan == 1 %}
                <th valign="center" style="width: 40%;">Rencana Hasil Kerja</th>
                <th valign="center">Indikator Kinerja Individu</th>
                <th valign="center">Target Tahunan</th>
                <th valign="center">Perspektif</th>
                {% else %}
                <th valign="center" style="min-width: 250px;">Rencana Hasil Kerja Pimpinan<br>yang Diintervensi</th>
                <th valign="center" style="min-width: 250px;">Rencana Hasil Kerja</th>
                <th valign="center">Indikator Kinerja Individu</th>
                <th valign="center">Target Tahunan</th>
                <th valign="center">Aspek</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="8" style="text-align: center;">Tidak Ada Data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  {% if perilaku_kerja_list %}
  <div class="col-md-12 pt-3">
    <div class="card">
      <div class="d-flex justify-content-between card-header py-4 px-5">
        <h6 class="d-flex align-items-center m-0">PERILAKU KERJA</h6>
      </div>
      <div class="card-body p-2">
        <div class="table-responsive">
          <table class="table table-bordered mb-0 table-custom">
            {% for item in perilaku_kerja_list %}
            <tr>
              <td rowspan="2" style="vertical-align : middle;text-align:center; width: 5%;">{{ forloop.counter }}</td>
              <th>{{ item.perilaku_kerja }}</th>
              <th style="width: 20%;">Ekspektasi Khusus Pimpinan</th>
            </tr>
            <tr>
              <td>
                <ol>
                  {% for subitem in item.daftarperilakukerja_set.all %}
                  <li>{{ subitem.keterangan }}</li>
                  {% endfor %}
                </ol>
              </td>
              <td>
                {% if penilai_view %}
                  {% if obj.status == 3 %}
                    {% daftar_ekspetasi item.id obj "ya" request.user %}
                  {% else %}
                    {% daftar_ekspetasi item.id obj "tidak" request.user %}
                  {% endif %}
                {% else %}
                  {% if obj.status == 2  %}
                    {% daftar_ekspetasi item.id obj "tidak" request.user %}
                  {% elif obj.status == 1 and obj.jenis_jabatan == 1 %}
                    {% daftar_ekspetasi item.id obj "tidak" request.user %}
                  {% else %}
                    {% daftar_ekspetasi item.id obj "ya" request.user %}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if lampiran %}
  <div class="col-md-12 pt-3">
    <div class="card">
      <div class="d-flex justify-content-between card-header py-4 px-5">
        <h6 class="d-flex align-items-center m-0">LAMPIRAN</h6>
      </div>
      <div class="card-body p-2">
        <div class="table-responsive">
          {% for item in lampiran %}
          <table class="table table-bordered mb-0">
          <thead class="thead-dark">
            <tr>
              <th colspan="2">
                {{item.lampiran}}
                {% if not penilai_view and obj.status == 1 %}
                <button type="button" data-id="{{item.id}}" data-judul="{{item.lampiran|title}}" class="ml-3 btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_tambah_lampiran">
                  Tambah
                </button>
                {% endif %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% if penilai_view %}
            {% daftar_lampiran item.id obj.id "ya" %}
            {% else %}
            {% if obj.status != 1 %}
            {% daftar_lampiran item.id obj.id "ya" %}
            {% else %}
            {% daftar_lampiran item.id obj.id "tidak" %}
            {% endif %}
            {% endif %}
          </tbody>
          </table>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="modal fade" id="tambahrhk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rhk-label">Tambah RHK</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" id="rhk_id">
        {% if obj.jenis_jabatan != 1 %}
        <div class="form-group">
          <label for="">RHK Pimpinan</label>
          <select name="rhk_pimpinan" id="rhk_pimpinan" class="form-control">
            <option value="0">Pilih RHK Pimpinan</option>
          </select>
        </div>
        {% endif %}
        <div class="form-group">
          <label for="">Klasifikasi</label>
          <select name="klasifikasi" onchange="onChangeKlasifikasi($(this))" class="form-control" id="klasifikasi_id">
            <option value="0">Pilih Klasifikasi</option>
            <option value="1">Organisasi</option>
            <option value="2">Individu</option>
          </select>
        </div>
        
        <div class="form-group form-unor" id="field_set_unitkerja_id" style="display: none;">
          <label for="">Unit Kerja</label>
          <select name="unitkerja" class="form-control" id="unitkerja_id">
          </select>
        </div>

        <div class="form-group">
          <label for="">Jenis RHK</label>
          <select name="jenis" class="form-control" id="jenis_id">
            <option value="0">Pilih Jenis RHK</option>
            <option value="1">Utama</option>
            <option value="2">Tambahan</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Rencana Hasil Kerja</label>
          <input type="text" class="form-control" name="rencana_kerja" id="rencana_id">
        </div>
        {% if obj.jenis_jabatan == 1 %}
        <div class="form-group">
          <label for="">Penugasan Dari</label>
          <input type="text" class="form-control" name="penugasan_dari" id="penugasan_id">
        </div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" onclick="handleSaveRHK()"><i class="fas fa-save"></i> Simpan</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_add_rhk_indikator_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="indikator-title">Tambah Indikator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-add-indikator">
          {% csrf_token %}
          <input type="hidden" id="indikator_id" />
          <input type="hidden" id="rhk_indikator_id" />
          {% if obj.jenis_jabatan != 1 %}
          <div class="form-group">
            <label for="">Aspek</label>
            <select name="aspek" id="aspek" class="form-control">
              <option value="Kualitas">Kualitas</option>
              <option value="Kuantitas">Kuantitas</option>
              <option value="Waktu">Waktu</option>
              <option value="Biaya">Biaya</option>
            </select>
          </div>
          {% else %}
          <div class="form-group">
            <label>Perspektif</label>
            <select name="perspektif" id="perspektif" class="form-control">
              <option value="0">Pilih Prespektif</option>
              {% for item in perspektif_list %}
              <option value="{{ item.id }}">{{ item.perspektif }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}

          <div class="form-group">
            <label for="">Indikator Kinerja Individu</label>
            <input name="indikator" id="indikator" class="form-control" />
          </div>

          <div class="form-group">
            <label for="">Target</label>
            <input name="target" id="target" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="on_save_rhk_indikator();">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_set_rhk_pimpinan_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set RHK Pimpinan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="hidden" name="rhk_id" />
          <div class="form-group">
            <select name="rhk_pimpinan" class="form-control">
              <option value="0">Pilih RHK Pimpinan</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="set_rhk_pimpinan()">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_tambah_lampiran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lampiran_modal_title">Tambah Lampiran</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" id="edit_lampiran"/>
          <input type="hidden" id="lampiran_id"/>
          <div class="form-group">
            <label for="isi_lampiran" id="label-jenis-lampiran"></label>
            <textarea class="form-control" id="isi_lampiran" name="isi_lampiran" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="save_lampiran()">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_tambah_ekspetasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lampiran_modal_ekspetasi">Tambah Ekspektasi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" id="perilaku_id"/>
          <input type="hidden" id="ekspetasi_id"/>
        <div class="form-group">
          <div class="form-group">
            <label for="isi" id="label-ekspetasi">Ekspektasi</label>
            <select class="form-control" id="ekspetasi_multiple" name="ekspetasi_multiple[]" multiple="multiple" style="width: 100%;">
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="isi" id="label-ekspetasi">Ekspektasi Lainnya</label>
            <input type="text" class="form-control" id="ekspetasi" name="ekspetasi"></input>
            <span class="text-muted">Jika pilihan pada field ekspetasi tidak tersedia, bisa menginputkan secara manual melalui field ekspetasi lainnya</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="save_ekspetasi()">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_edit_status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_status">Edit Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="isi" id="label-ekspetasi">Status</label>
            <select name="status" onchange="onchangeStatus($(this))" class="form-control" id="status">
              <option value="0">---Pilih Status----</option>
              <option value="1">Draft</option>
              <option value="2">Pengajuan</option>
              <option value="3">Persetujuan</option>
            </select>
          </div>
          <div class="form-group field-keterangan m-0">
            <label for="keterangan" id="label-keterangan">Keterangan</label>
            <input type="text" class="form-control" name="keterangan" id="keterangan" >
            <small id="small-keterangan" class="form-text" style="color: red;">
              SKP akan dikembalikan menjadi status Draft untuk diperbaiki oleh pegawai. Anda tidak bisa membuka SKP ini sampai diajukan kembali
            </small>
          </div>
          <div class="form-group field-riwayat">
            <label for="">Riwayat Keterangan</label>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Waktu</th>
                  <th>Keterangan</th>
                </tr>
              </thead>
              <tbody id="riwayat-keterangan">
                <tr>
                  <td colspan="2" style="text-align: center;">Tidak Ada Riwayat</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="save_status()">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script src="{% static 'loading-overlay/loadingoverlay.min.js' %}"></script>
<script type="text/javascript">
  let skp_id = "{{obj.id}}"
  let skp_induk_id = "{{obj.induk.id}}"
  let jenis_jabatan = "{{obj.jenis_jabatan}}"
  let status = "{{obj.status}}"
  let penilai_view= "{{penilai_view}}".toLowerCase()

  $('.field-keterangan').hide()
  const onchangeStatus = (elem) =>{
    if(elem.val() == "1"){
      $('.field-keterangan').show()
    }else{
      $('.field-keterangan').hide()
    }
  }
  $("#status").val(status).trigger('change')
  const changeStatus = (status=1) => {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: `${BASE_URL}/admin/skp/sasarankinerja/change-status`,
        type: "GET",
        data: {
          skp_id: skp_id,
          status: status
        },
        success: function(response){
          if(response.success){
            resolve('ok')
          }else{
            reject('fail')
          }
        },
        error: function(error){
          reject('fail')
        }
      })
    })
  }

  // Action Archive SKP
  $('#action_archive_skp_id').on('click', function(){
    Swal.fire({
      title: "Apakan anda yakin ingin mengarsipkan SKP?",
      icon: "info",
      showCancelButton: true,
      confirmButtonText: "Iya, Arsipkan!",
      cancelButtonText: "Tidak, Batalkan!",
      reverseButtons: true
    }).then(function(result) {
      if (result.value) {
        changeStatus(5)
        .then(() => {
          Swal.fire(
            "Arsipkan",
            "Sasaran Kinerja Berhasil diarsipkan",
            "success"
          )
          .then(() => {
            window.location.reload();
          })
        })
        // result.dismiss can be "cancel", "overlay",
        // "close", and "timer"
      }
    });
  })

  // Action Submit / Ajukan SKP
  $('#action_ajukan_skp_id').on('click', function(){
    Swal.fire({
        title: "Apakah Anda yakin ingin mengajukan SKP ini?",
        icon: "info",
        showCancelButton: true,
        confirmButtonText: "Iya, Ajukan",
        cancelButtonText: "Tidak, batalkan!",
        reverseButtons: true
    }).then(function(result) {
        if (result.value) {
          changeStatus(2)
          .then(() => {
            Swal.fire(
              "Berhasil!",
              "SKP Berhasil Diajukan",
              "success"
            )
            .then(() => {
              window.location.reload();
            })
          })
          // result.dismiss can be "cancel", "overlay",
          // "close", and "timer"
        } else if (result.dismiss === "cancel") {
          Swal.fire(
            "Batalkan",
            "Pengajuan SKP Dibatalkan",
            "error"
          )
        }
    });
  })

  const handleLoadRiwayatKeterangan = () => {
    $.ajax({
      url:`${BASE_URL}/admin/skp/sasarankinerja/${skp_id}/riwayat-keterangan`,
      method: "GET",
      beforeSend:function(){
        $(".field-riwayat").LoadingOverlay("show", {
          background  : "rgba(212, 212, 212, 0.31)"
      });
      },
      success:function(res){
        if(res.length > 0){
          html = ""
          res.map(item=>{
            html += `
            <tr>
              <td>${item.waktu}</td>
              <td>${item.keterangan}</td>
            </tr>`
          })
          $("#riwayat-keterangan").html(html)
        }
      },
      complete:function(){
        $(".field-riwayat").LoadingOverlay('hide')
      }
    })
  }

  $('#modal_edit_status').on('show.bs.modal', function (event) {
    handleLoadRiwayatKeterangan();
  })
    $('#tambahrhk').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget)
    let edit = button.data('edit')
    let id = button.data('rhk_id')
    let pimpinan_id = button.data('pimpinan_id')
    var modal = $("#tambahrhk")
    $("#rhk_id").val("")
    $("#klasifikasi_id").val($("#klasifikasi_id option:first").val()).trigger('change')
    $("#rhk_pimpinan").val($("#rhk_pimpinan option:first").val()).trigger('change')
    $("#unitkerja_id").val($("#unitkerja_id option:first").val()).trigger('change')
    $("#jenis_id").val($("#jenis_id option:first").val()).trigger('change')
    $("#rencana_id").val("")
    $("#penugasan_id").val("")
    console.log(pimpinan_id)
    if(pimpinan_id == undefined){
      handleLoadRHKPimpinan()
    }else{
      handleLoadRHKPimpinan(pimpinan_id)
    }

    if(edit){
      $('#rhk-label').html("Ubah RHK")
      $.ajax({
        url: `${BASE_URL}/admin/skp/rencanahasilkerja/load/`,
        type: 'GET',
        data:{
          id:id,
          edit:edit
        },
        success: function(response){
          if(response.success){
            let data = response.data
            $("#rhk_id").val(data.id)
            $("#klasifikasi_id").val(data.klasifikasi).trigger('change')
            if(data.klasifikasi == "1"){
              handleLoadUnitkerja(data.unor)
            }
            $("#jenis_id").val(data.jenis)
            $("#rencana_id").val(data.rencana_hasil)
            $("#penugasan_id").val(data.penugasan_dari)
          }
        }
      })
    }else{
      $('#rhk-label').html("Tambah RHK")
    }
  })
  $('#modal_tambah_lampiran').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget)
    let title = button.data('judul')
    let jenis = button.data('jenis')
    let lampiran_id = button.data('id')
    $("#isi_lampiran").val("")
    if(jenis == "ubah"){
      $("#label-jenis-lampiran").html(title)
      $("#lampiran_id").val(lampiran_id)
      $("#lampiran_modal_title").html("Ubah Lampiran")
      let isi = $(`#isi-lampiran-${lampiran_id}`).html()
      $("#isi_lampiran").val(isi)
      $("#edit_lampiran").val(true)
    }else{
      $("#label-jenis-lampiran").html(title)
      $("#lampiran_id").val(lampiran_id)
      $("#lampiran_modal_title").html("Tambah Lampiran")
      $("#edit_lampiran").val(false)
    }
  })
  $('#modal_tambah_ekspetasi').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget)
    let perilaku_id = button.data('id')
    let ekspetasi_id = button.data('ekspetasi')
    let ekspetasi_multiple = button.data('ekspetasi_multiple')
    let tambah = button.data('tambah')
    $("#perilaku_id").val(perilaku_id)
    handleLoadDaftarEkspetasi(perilaku_id, ekspetasi_multiple)
    $("#ekspetasi_id").val(ekspetasi_id)
    $("#ekspetasi").val("")
    if(tambah == "True"){
      $("#lampiran_modal_ekspetasi").html("Tambah Ekspetasi")
    }else{
      $("#lampiran_modal_ekspetasi").html("Ubah Ekspetasi")
      let isi = $("#ekspetasi-"+perilaku_id)
      $("#ekspetasi").val(isi.html())
    }
  })
  const handleLoadUnitkerja = async (id=null) => {
    await $.ajax({
      url: `${BASE_URL}/admin/usom/unitkerja/load-data`,
      type: 'GET',
      success: function(response){
        if(response.length > 0){
          html = `<option value="" readonly >---- Pilih Unit Kerja ----</option>`
          response.map((value, idx)=>{
            selected = "selected"
            if(value.id != id){
              selected = ""
            }
            html += `<option ${selected} value="${value.id}" >${value.text}</option>`
          })
        }else{
          html = "<option readonly >Unit Kerja Kosong</option>"
        }
        $('#unitkerja_id').html(html)
      }
    })
  }

  const handleLoadDaftarEkspetasi = async (perilaku_id, selected=null) => {
    await $.ajax({
      url:`${BASE_URL}/admin/skp/daftarekspetasi/load/`,
      data:{
        perilaku_id: perilaku_id
      },
      beforeSend:function(){
        console.log("before send")
      },
      success:function(res){
        if(res.success){
          html = ""
          res.data.map( item => {
            html += `<option value="${item.id}" >${item.nama}</option>`
          })
          $("#ekspetasi_multiple").html(html).select2({
            width: 'resolve',
            closeOnSelect: false
          })
          if(selected.length > 0){
            $("#ekspetasi_multiple").val(selected).trigger('change')
          }
        }else{
          toastr.warning(res.pesan);
        }
      },
      complete:function(){
        console.log("Complete")
      }
    })
  }

  $('.form-unor').hide()
  const onChangeKlasifikasi = (elem) =>{
    if(elem.val() == "1"){
      handleLoadUnitkerja()
      $('.form-unor').show()
    }else{
      $('.form-unor').hide()
      $('#unitkerja_id').empty()
    }
  }

  const on_save_rhk_indikator = () => {
    console.log('On Save')
    let form_id = $('#form-add-indikator')
    let indikator_id = $('#indikator_id').val()
    let rhk_id = $('#rhk_indikator_id').val()
    let aspek = form_id.find('select[name=aspek]').val();
    let perspektif= form_id.find('select[name=perspektif]').val();
    let indikator = form_id.find('input[name=indikator]').val();
    let target = form_id.find('input[name=target]').val();
    let csrf = form_id.find('input[name=csrfmiddlewaretoken]').val();

    let formData = {
      indikator_id: indikator_id,
      rhk_id: rhk_id,
      aspek: aspek,
      indikator: indikator,
      perspektif: perspektif,
      target: target,
      csrfmiddlewaretoken: csrf
    }
    console.log({formData})
    let error = false
    let text = ""
    if(jenis_jabatan == "1"){
      if(perspektif && perspektif == 0 && perspektif == "0"){
        error = true
        text = "Isian Perspektif Tidak Boleh Kosong"
      }
    }else{
      if(aspek == ""){
        error = true
        text = "Isian Aspek Tidak Boleh Kosong"
      }
    }
    if(target == ""){
      error = true
      text = "Isian Target Tidak Boleh Kosong"
    }
    if(indikator == ""){
      error = true
      text = "Isian Indikator Tidak Boleh Kosong"
    }

    if(!error){
      $.ajax({
        url: `${BASE_URL}/admin/skp/indikatorkinerjaindividu/set-rhk`,
        type: 'POST',
        data: formData,
      success: function(response){
        console.log({response})
        if(response.success){
          if(indikator_id){
            toastr.success('Berhasil merubah indikator');
          }else{
            toastr.success('Berhasil menambahkan indikator');
          }
          window.location.reload();
        }
      },
      error: function(error){
        console.log({error})
        toastr.warning("Terjadi kesalahan server");
      }
    })
  }else{
    toastr.warning(text);
  }
}

  const set_rhk_indikator = async (elem) => {
    let rhk_id = elem.data('rhk_id')
    let edit = elem.data('edit')
    let indikator_id = elem.data('indikator_id')
    $("#indikator_id").val("")
    $('#rhk_indikator_id').val("")
    $("#indikator").val("")
    $(`#target`).val("")
    $('#perspektif').val($("#perspektif option:first").val()).trigger('change')
    $('#aspek').val($("#aspek option:first").val()).trigger('change')

    if (typeof rhk_id !== "undefined"){
      $('#rhk_indikator_id').val(rhk_id)
      $('#modal_add_rhk_indikator_id').modal('show');
      $("#indikator-title").html("Tambah Indikator")
      if(edit && indikator_id){
        $("#indikator_id").val(indikator_id)
        $("#indikator-title").html("Ubah Indikator")
        let indikator = $(`#indikator-${indikator_id}`)
        let target = $(`#target-${indikator_id}`)
        $("#indikator").val(indikator.html())
        $(`#target`).val(target.html())
        let isi ;
        if (jenis_jabatan == "1") {
          isi = $(`#perspektif-${indikator_id}`)
          $('#perspektif').val(isi.data('perspektif')).trigger('change')
        }else{
          isi = $(`#aspek-${indikator_id}`)
          $('#aspek').val(isi.html()).trigger('change')
        }
      }
    }
  }

  let no = 1;

  const loadDataRHKUtama = async (jenis=1) => {
    // 1: Utama, 2: Tambahan
    await $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/get-data-skp/${skp_id}`,
      type: 'GET',
      data: {
        jenis: jenis
      },
      success: function(response){
        delete_html = ""
        if(response.length > 0){
          let colspan = `<td colspan="5">`
          if (jenis_jabatan != "1") {
            colspan = `<td colspan="6">`
          }
          
          let html_ = `<tr class="bg-dark">
                        ${colspan}
                          <span class="font-weight-bold text-white">Utama<span>
                        </td>
                      </tr>`
          response.map((item, index) => {
            let indikator =  '';
            if (item.indikator.length > 0){
              item.indikator.map(item_indikator => {
                let aksi = `
                    <div class="d-flex justify-content-center mt-3">
                      <button class="btn btn-icon btn-warning mr-1" data-rhk_id="${item.id}" data-edit="true" data-indikator_id="${item_indikator.id}" onclick="set_rhk_indikator($(this))">
                        <i class="flaticon2-pen"></i>
                      </button>
                      <a onclick="delete_action('${item_indikator.delete_url}')" class="btn btn-icon btn-danger">
                        <i class="flaticon-delete-1"></i>
                      </a>
                    </div>
                `
                if(status != "1"){
                  aksi = ""
                }

                let indikator_isi = `<td id="aspek-${item_indikator.id}">${item_indikator.aspek ? item_indikator.aspek : '-'}</td>`
                if(jenis_jabatan == "1"){
                  indikator_isi = `<td id="perspektif-${item_indikator.id}" data-perspektif="${item_indikator.perspekif_id}">${item_indikator.perspektif ? item_indikator.perspektif : '-'}</td>`
                }

                indikator += `
                <tr>
                  <td>
                    <span id="indikator-${item_indikator.id}" >${item_indikator.indikator}</span>
                    ${aksi}
                  </td>
                  <td id="target-${item_indikator.id}">${item_indikator.target}</td>
                  ${indikator_isi}
                </tr>
                `
              })
            } else {
              delete_html = `
                <a onclick="delete_action('${item.delete_url}')" class="btn btn-icon btn-danger">
                  <i class="flaticon-delete-1"></i>
                </a>
              `
              let button_tambah_indikator = `<button class="btn btn-sm btn-light-primary btn-block" data-rhk_id="${item.id}" data-edit="false" onclick="set_rhk_indikator($(this))">Tambah Indikator</button>`
              if (status == "1") {
                if(penilai_view == "true"){
                  button_tambah_indikator = ""
                }
                indikator += `
                <tr>
                  <td colspan="3">
                    ${button_tambah_indikator}
                  </td>
                </tr>
                `
              }
            }

            if (item.indikator.length > 0){
              let button_tambah_indikator = `<button class="btn btn-sm btn-light-primary btn-block" data-rhk_id="${item.id}" data-edit="false" onclick="set_rhk_indikator($(this))">Tambah Indikator</button>`
              if (status == "1") {
                if(penilai_view == "true"){
                  button_tambah_indikator = ""
                }
                indikator += `
                <tr>
                  <td colspan="3">
                    ${button_tambah_indikator}
                  </td>
                </tr>
                `
              }
            }else{
              indikator += `
              <tr>
                <td></td>
                <td></td>
              <td>
              `
            }
            let klasifikasi = `
            <br><span class="label label-primary label-inline font-weight-bolder mr-2">${item.klasifikasi_rhk}</span>
            `
            let indikator_length = item.indikator.length+2
            if (penilai_view == "true") {
              indikator_length = item.indikator.length+1
            }
            
            if(status != "1"){
              indikator_length = item.indikator.length+1
            }

            let induk_elem = `
                <td rowspan="${indikator_length}">
                  ${item?.induk ? item.induk.rencana_kerja : ''}
                </td>
              `
            if(jenis_jabatan == "1"){
              induk_elem = ""
            }
            
            let html_rowspan = `
            <td rowspan="${indikator_length}">${no}</td>
            `
            let skp_aksi = `
            <div class="mt-1">
              <button class="btn btn-icon btn-warning mr-1" data-rhk_id="${item.id}" data-pimpinan_id="${item.induk?.id}" data-edit="true" data-toggle="modal" data-target="#tambahrhk">
                <i class="flaticon2-pen"></i>
              </button>
              ${delete_html}
            </div>
            `
            let td_rowspan = ""
            if(status != "1"){
              skp_aksi = ""
              td_rowspan = `<td rowspan="${item.indikator.length+1}">`
              html_rowspan = `<td rowspan="${item.indikator.length+1}">${no}</td>`
              if(item.indikator.length == 0){
                td_rowspan = `<td rowspan="${item.indikator.length+2}">`
                html_rowspan = `<td rowspan="${item.indikator.length+2}">${no}</td>`
              }
            }else{
              td_rowspan = `<td rowspan="${indikator_length}">`
              html_rowspan = `<td rowspan="${indikator_length}">${no}</td>`
            }
            html_ += `
              <tr>
                ${html_rowspan}
                ${induk_elem}
                ${td_rowspan}
                  <b>${item.rencana_kerja}</b><br><span class="text-muted">${item.penugasan_dari ? `Penugasan dari ${item.penugasan_dari}` : ''}</span>
                  ${klasifikasi}
                  ${skp_aksi}
                </td>
              </tr>
              ${indikator}
            `
            // <tr>
            //     <td colspan="3"></td>
            //     <td colspan="3"></td>
            //   </tr>
            no += 1;
          })
          $('#result_list > tbody').html(html_);
        }
      }
    })
  }

  const loadDataRHKTambahan = async () => {
    await $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/get-data-skp/${skp_id}`,
      type: 'GET',
      data: {
        jenis: 2
      },
      success: function(response){
        delete_html = ""
        if(response.length > 0){
          let colspan = `<td colspan="5">`
            if (jenis_jabatan != "1") {
              colspan = `<td colspan="6">`
            }
            
            let html_ = `<tr class="bg-dark">
                          ${colspan}
                            <span class="font-weight-bold text-white">Tambahan<span>
                          </td>
                        </tr>`
          response.map((item, index) => {
            let indikator =  '';
            if (item.indikator.length > 0){
              item.indikator.map(item_indikator => {
                let aksi = `
                    <div class="d-flex justify-content-center mt-3">
                      <button class="btn btn-icon btn-warning mr-1" data-rhk_id="${item.id}" data-edit="true" data-indikator_id="${item_indikator.id}" onclick="set_rhk_indikator($(this))">
                        <i class="flaticon2-pen"></i>
                      </button>
                      <a onclick="delete_action('${item_indikator.delete_url}')" class="btn btn-icon btn-danger">
                        <i class="flaticon-delete-1"></i>
                      </a>
                    </div>
                `
                if(status != "1"){
                  aksi = ""
                }

                let indikator_isi = `<td id="aspek-${item_indikator.id}">${item_indikator.aspek ? item_indikator.aspek : '-'}</td>`
                if(jenis_jabatan == "1"){
                  indikator_isi = `<td id="perspektif-${item_indikator.id}" data-perspektif="${item_indikator.perspekif_id}">${item_indikator.perspektif ? item_indikator.perspektif : '-'}</td>`
                }

                indikator += `
                <tr>
                  <td>
                    <span id="indikator-${item_indikator.id}" >${item_indikator.indikator}</span>
                    ${aksi}
                  </td>
                  <td id="target-${item_indikator.id}">${item_indikator.target}</td>
                  ${indikator_isi}
                </tr>
                `
              })
            } else {
              delete_html = `
                <a onclick="delete_action('${item.delete_url}')" class="btn btn-icon btn-danger">
                  <i class="flaticon-delete-1"></i>
                </a>
              `
              let button_tambah_indikator = `<button class="btn btn-sm btn-light-primary btn-block" data-rhk_id="${item.id}" data-edit="false" onclick="set_rhk_indikator($(this))">Tambah Indikator</button>`
              if (status == "1") {
                if(penilai_view == "true"){
                  button_tambah_indikator = ""
                }
                indikator += `
                <tr>
                  <td colspan="3">
                    ${button_tambah_indikator}
                  </td>
                </tr>
                `
              }
            }

            if (item.indikator.length > 0){
              let button_tambah_indikator = `<button class="btn btn-sm btn-light-primary btn-block" data-rhk_id="${item.id}" data-edit="false" onclick="set_rhk_indikator($(this))">Tambah Indikator</button>`
              if (status == "1") {
                if(penilai_view == "true"){
                  button_tambah_indikator = ""
                }
                indikator += `
                <tr>
                  <td colspan="3">
                    ${button_tambah_indikator}
                  </td>
                </tr>
                `
              }
            }else{
              indikator += `
              <tr>
                <td></td>
                <td></td>
              <td>
              `
            }
            let klasifikasi = `
              <br><span class="label label-primary label-inline font-weight-bolder mr-2">${item.klasifikasi_rhk}</span>
              `

            let indikator_length = item.indikator.length+2
            if (penilai_view == "true") {
              indikator_length = item.indikator.length+1
              
            }

            if(status != "1"){
              indikator_length = item.indikator.length+1
            }
            let induk_elem = `
                <td rowspan="${indikator_length}">
                  ${item?.induk ? item.induk.rencana_kerja : ''}
                </td>
              `
              if(jenis_jabatan == "1"){
                induk_elem = ""
              }
              
              let html_rowspan = `
              <td rowspan="${indikator_length}">${no}</td>
              `
              let skp_aksi = `
              <div class="mt-1">
                <button class="btn btn-icon btn-warning mr-1" data-rhk_id="${item.id}" data-pimpinan_id="${item.induk?.id}" data-edit="true" data-toggle="modal" data-target="#tambahrhk">
                  <i class="flaticon2-pen"></i>
                </button>
                ${delete_html}
              </div>
              `
            let td_rowspan = ""
            if(status != "1"){
              skp_aksi = ""
              td_rowspan = `<td rowspan="${item.indikator.length+1}">`
              html_rowspan = `<td rowspan="${item.indikator.length+1}">${no}</td>`
              console.log(item.indikator.length, "Tambah")
              if(item.indikator.length == 0){
                td_rowspan = `<td rowspan="${item.indikator.length+2}">`
                html_rowspan = `<td rowspan="${item.indikator.length+2}">${no}</td>`
              }
            }else{
              td_rowspan = `<td rowspan="${indikator_length}">`
              html_rowspan = `<td rowspan="${indikator_length}">${no}</td>`
            }
            html_ += `
              <tr>
                ${html_rowspan}
                ${induk_elem}
                ${td_rowspan}
                  <b>${item.rencana_kerja}</b><br><span class="text-muted">${item.penugasan_dari ? `Penugasan dari ${item.penugasan_dari}` : ''}</span>
                  ${klasifikasi}
                  ${skp_aksi}
                </td>
              </tr>
              ${indikator}
            `
            no += 1;
          })
          $('#result_list > tbody').append(html_);
        }
      }
    });
  }

  const loadIndikatorRHKNone = async () => {
    await $.ajax({
      url: `${BASE_URL}/admin/skp/indikatorkinerjaindividu/get-by-skp/${skp_id}`,
      type: 'GET',
      success: function(response){
        if (response.length > 0){
          let html_ = '';
          response.map(item => {
            html_ += `
              <tr>
                <td colspan="3"></td>
                <td>${item.aspek}</td>
                <td>${item.indikator}</td>
                <td>${item.target}</td>
              </tr>
            `
          })
          $('#result_list > tbody').append(html_);
        }
      }
    })
  }

  const handleLoadRHKPimpinan = (selected=null) => {
    $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/load-rhk-pimpinan`,
      type: 'GET',
      data:{
        skp_id:skp_id
      },
      success: function(response){
        if(response.length > 0){
          let options = '<option value="0">Pilih RHK Pimpinan</option>'
          response.map(item => {
            options += `
            <option value="${item.id}">${item.rencana_kerja}</option>
            `
          })
          $('#rhk_pimpinan').html(options);
          if(selected){
            $('#rhk_pimpinan').val(selected).trigger('change')
          }
        }
      }
    })
  }
  const onOpenModalRHKPimpinan = (elem) => {
    let rhk_id = elem.data('rhk_id');
    let modal = $('#modal_set_rhk_pimpinan_id')
    
    if(typeof rhk_id !== "undefined"){
      modal.find('input[name=rhk_id]').val(rhk_id)
      $.ajax({
        url: `${BASE_URL}/admin/skp/rencanahasilkerja/load-rhk-pimpinan/`,
        type: 'GET',
        data:{
          skp_id:skp_id
        },
        success: function(response){
          if(response.length > 0){
            let options = '<option value="0">Pilih RHK Pimpinan</option>'
            response.map(item => {
              options += `
              <option value="${item.id}">${item.rencana_kerja}</option>
              `
            })
            modal.find('select[name=rhk_pimpinan]').html(options);
          }
        }
      })
      modal.modal('show')
    }
  }

  const save_ekspetasi = () => {
    let modal = $("#modal_tambah_ekspetasi")
    let perilaku_id = $("#perilaku_id").val()
    let perilaku_multiple = $("#ekspetasi_multiple").val()
    let ekspetasi_id = $("#ekspetasi_id").val()
    let isi = $("#ekspetasi").val()
    let csrf = modal.find('input[name=csrfmiddlewaretoken]').val();
    $.ajax({
      url: `${BASE_URL}/admin/skp/daftarperilakukerjapegawai/simpan`,
      type: 'POST',
      data: {
        csrfmiddlewaretoken: csrf,
        skp_id: skp_id,
        perilaku_id: perilaku_id,
        ekspetasi_id: ekspetasi_id,
        perilaku_multiple: JSON.stringify(perilaku_multiple),
        isi: isi,
      },
      success: function(response){
        if(response.success){
          toastr.success(response.pesan);
          window.location.reload()
        } else {
          toastr.warning(response.pesan);
        }
      }
    })  
  }
  const save_status = () => {
    let modal = $("#modal_edit_status")
    let status = $("#status").val()
    let keterangan = $("#keterangan").val()
    let csrf = modal.find('input[name=csrfmiddlewaretoken]').val();
    let error = false
    if(status == "1" && keterangan == ""){
      error = true
    }
    if(!error){

      $.ajax({
        url: `${BASE_URL}/admin/skp/sasarankinerja/change-status`,
        type: 'POST',
      data: {
        csrfmiddlewaretoken: csrf,
        skp_id: skp_id,
        status: status,
        keterangan: keterangan
      },
      success: function(response){
        if(response.success){
          toastr.success("Berhasil Merubah Status Sasaran Kinerja");
          if(status == "1" && jenis_jabatan != "1"){
            window.location.href = `${BASE_URL}/admin/skp/sasarankinerja/${skp_induk_id}/skp-bawahan`
          }else{
            window.location.reload()
          }
        } else {
          if(response.pesan){
            toastr.warning(response.pesan);
          }else{
            toastr.warning("Terjadi kesalahan");
          }
        }
      }
    })  
  }else{
    toastr.warning("Keterangan Tidak Boleh Kosong");
  }
  }
  const save_lampiran = () => {
    let modal = $("#modal_tambah_lampiran")
    let lampiran_id = $("#lampiran_id").val()
    let isi = $("#isi_lampiran").val()
    let edit_lampiran = $("#edit_lampiran").val()
    let csrf = modal.find('input[name=csrfmiddlewaretoken]').val();
    if(isi != ""){

      $.ajax({
        url: `${BASE_URL}/admin/skp/daftarlampiran/simpan`,
      type: 'POST',
      data: {
        csrfmiddlewaretoken: csrf,
        skp_id: skp_id,
        lampiran: lampiran_id,
        isi: isi,
        edit: edit_lampiran
      },
      success: function(response){
        if(response.success){
          toastr.success(response.pesan);
          window.location.reload()
        } else {
          toastr.warning(response.pesan);
        }
      }
    })  
  }else{
    toastr.warning("Isian Lampiran Tidak Boleh Kosong");
  }
  }
  const delete_action = (url) => {
    Swal.fire({
      title: 'Apakah anda yakin ingin menghapus data ini?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: "Iya, Hapus",
      cancelButtonText: "Tidak, batalkan!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: url,
          type: 'GET',
          success: function(response){
            if(response.success){
              Swal.fire({
                icon: 'success',
                title: 'Berhasil',
                text: response.pesan,
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
              }).then(function() {
                window.location.reload()
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: response.pesan,
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
              })
            }
          }
        })
      }
    })
  }
  const set_rhk_pimpinan = () => {
    let modal = $('#modal_set_rhk_pimpinan_id')
    let rhk_id = modal.find('input[name=rhk_id]').val()
    let rhk_pimpinan_id = modal.find('select[name=rhk_pimpinan]').val()
    $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/set-rhk-pimpinan/`,
      type: 'GET',
      data: {
        rhk_id: rhk_id,
        rhk_pimpinan_id: rhk_pimpinan_id
      },
      success: function(response){
        if(response.success){
          toastr.success('Berhasil menambahkan rhk pimpinan');
          window.location.reload()
        } else {
          toastr.warning('Terjadi kesalahan');
        }
      }
    })
  }

  const startLoad = () => {
    loadDataRHKUtama().then(() => {
      // loadIndikatorRHKNone()
      loadDataRHKTambahan()
    })
  }

  $(function(){
    startLoad()
  })


  const handleSaveRHK = () => {
    let modal = $('#tambahrhk');
    klasifikasi = modal.find('select[name=klasifikasi]').val(),
    unitkerja = modal.find('select[name=unitkerja]').val()
    jenis = modal.find('select[name=jenis]').val()
    rencana = modal.find('input[name=rencana_kerja]').val()
    penugasan_dari = modal.find('input[name=penugasan_dari]').val()
    let formData = {
      skp_id: skp_id,
      rhk_id: modal.find('#rhk_id').val(),
      pimpinan_id: modal.find('#rhk_pimpinan').val(),
      klasifikasi: klasifikasi,
      jenis: jenis,
      rencana_kerja: rencana,
      penugasan_dari: penugasan_dari,
      csrfmiddlewaretoken: modal.find('input[name=csrfmiddlewaretoken]').val(),
    }

    if (klasifikasi == 1 || klasifikasi == "1"){
      formData = {...formData, unitkerja: unitkerja}
    }
    text_error = ""
    var error = false
    if(jenis && jenis != "0" || klasifikasi != "" && klasifikasi != "0"){
      if (klasifikasi == 1 || klasifikasi == "1"){
        if(unitkerja == 0 || unitkerja == "0"){
          error = true
          text_error = "Kolom Unit Kerja Tidak Boleh Kosong"
        }
      }
    }else if(jenis == "0" && jenis == 0){
      error = true
      text_error = "Kolom Jenis RHK Tidak Boleh Kosong"
    }else if(klasifikasi == "" && klasifikasi == "0"){
      error = true
      text_error = "Kolom Klasifikasi Tidak Boleh Kosong"
    }
    if(rencana == ""){
      error = true
      text_error = "Kolom Rencana Hasil Kerja Tidak Boleh Kosong"
    }
    if(penugasan_dari == ""){
      error = true
      text_error = "Kolom Penugasan Tidak Boleh Kosong"
    }
    console.log(error)
    if(!error){
      $.ajax({
        url: `${BASE_URL}/admin/skp/rencanahasilkerja/action-add-or-create`,
        type: 'POST',
        data: formData,
        success: function(response){
          if(response.success){
            if(modal.find('#rhk_id').val() && modal.find('#rhk_id').val() != ""){
              toastr.success('Berhasil merubah rhk pimpinan');
            }else{
              toastr.success('Berhasil menambahkan rhk pimpinan');
            }
            window.location.reload()
          }else{
            toastr.warning('Terjadi kesalahan');
          }
        },
        error: function(error){
          console.log({error})
          toastr.warning('Terjadi kesalahan server');
        }
      })
    }else{
      toastr.warning(text_error);
    }
  }

  $('#btn_action_sinkron_ekinerja_id').on('click', function(){
    $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/${skp_id}/sinkron`,
      type: 'GET',
      success: function(response){
        console.log({response})
        if (response.success){
          toastr.success("berhasil sinkron dengan e-kinerja");
          window.location.reload()
        } else {
          toastr.warning("Terjadi kesalahan");
        }
      },
      error: function(error){
        console.log({error})
        toastr.warning("Terjadi kesalahan server");
      }
    })
  })
  const handleSyncPegawai = (elem) => {
    console.log(elem.data('jenis'))
    var card_pegawai
    if(elem.data('jenis') == "pegawai"){
      card_pegawai = new KTCard('card-pegawai');
    }else if(elem.data('jenis') == "atasan_penilai"){
      card_pegawai = new KTCard('card-penilai');
    }
    $.ajax({
      url: BASE_URL+elem.data('url'),
      method: "GET",
      data:{
        jenis:elem.data('jenis'),
        skp_id:skp_id,
      },
      beforeSend:function(){
        KTApp.block(card_pegawai.getSelf(), {
          overlayColor: '#ffffff',
          type: 'loader',
          state: 'primary',
          opacity: 0.3,
          size: 'lg'
        });
      },
      success:function(res){
        keys = Object.keys(res.data)
        keys.map((item, idx)=>{
          $("#"+elem.data('jenis')).find(`.${item}`).html(res.data[item])
        })
      },
      complete:function(){
        // console.log("down")
        setTimeout(KTApp.unblock(card_pegawai.getSelf()), 1000);
      }
    })
  }
</script>
{% endblock custom_js %}