{% extends 'admin/base_site.html' %}

{% load skp_template %}

{% block custom_style %}
{{ block.super }}
<style>
  .d-grid {
    display: grid;
  }

  .table-matriks-hasil {
    font-size: 11px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container p-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header p-5">
          <h6 class="m-0">Lihat {{ title }}</h6>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <tr>
              <th style="width: 25%;">SKP</th>
              <td style="width: 1%;">:</td>
              <td>Tahun {{obj.periode_awal.year}}</td>
            </tr>
            <tr>
              <th>Periode</th>
              <td>:</td>
              <td>{% get_complete_periode obj.periode_awal obj.periode_akhir %}</td>
            </tr>
            <tr>
              <th>Unit Kerja</th>
              <td>:</td>
              <td>{{obj.unor.unitkerja}}</td>
            </tr>
          </table>
        </div>
        <div class="card-footer p-5">
          {% if show %}
          {% if skp_childs %}
          <a href="?show=true&cetak=true&atasan=false" class="btn btn-primary">
            <span class="svg-icon svg-icon-seconday svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Devices/Printer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000"/>
                <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1"/>
              </g>
            </svg><!--end::Svg Icon--></span>
            Cetak {% if obj.induk %}{% if not "bupati" in obj.induk.detailsasarankinerja.nip_pegawai or obj.induk.detailsasarankinerja.nip_pegawai == "" %} Bawahan{% endif %}{% endif %}
          </a>
          {% endif %}
          {% if obj.induk %}
          {% if not "bupati" in obj.induk.detailsasarankinerja.nip_pegawai or obj.induk.detailsasarankinerja.nip_pegawai == "" %}
          <a href="?show=true&cetak=true&atasan=true" class="btn btn-primary">
            <span class="svg-icon svg-icon-seconday svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Devices/Printer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000"/>
                <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1"/>
              </g>
            </svg><!--end::Svg Icon--></span>
            Cetak {% if skp_childs %}Atasan{% endif %}
          </a>
          {% endif %}
          {% endif %}
          {% else %}
          <a href="?show=true" class="btn btn-success">Matrik Peran Hasil</a>
          {% endif %}
        </div>
      </div>
    </div>

    {% if show %}
    {% if obj.induk %}
    {% if not "bupati" in obj.induk.detailsasarankinerja.nip_pegawai or obj.induk.detailsasarankinerja.nip_pegawai == "" %}
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-body p-1 table-responsive">
          <table class="table table-bordered m-0 table-matriks-hasil">
            <thead class="bg-primary text-white">
              <tr>
                <th>PEGAWAI</th>
                <th colspan="{{ obj.induk.rencanahasilkerja_set.all|organisasi:True }}" class="text-center">OUTCOME ANTARA / OUTPUT / LAYANAN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b class="text-nowrap">{{ obj.induk.detailsasarankinerja.nama_pegawai }}</b><br>
                  <span class="text-muted">{{ obj.induk.detailsasarankinerja.nip_pegawai }}</span><br>
                  <span class="text-muted">{{ obj.induk.detailsasarankinerja.jabatan_pegawai }}</span>
                </td>
                {% for item in obj.induk.rencanahasilkerja_set.all|organisasi %}
                <td>{{ item.rencana_kerja }}</td>
                {% endfor %}
              </tr>
              <tr data-status="unload" data-id="{{obj.id}}">
                <td class="data-pegawai">
                  <b class="text-nowrap">{{ obj.detailsasarankinerja.nama_pegawai }}</b><br>
                  <span class="text-muted">{{ obj.detailsasarankinerja.nip_pegawai }}</span><br>
                  <span class="text-muted">{{ obj.detailsasarankinerja.jabatan_pegawai }}</span>
                </td>
                {% for rhk_parent in obj.rencanahasilkerja_set.all|organisasi %}
                <td data-parent_id="{{ rhk_parent.id }}"></td>
                {% endfor %}
              </tr>
              <!-- <tr>
                <td>
                  <b class="text-nowrap">SOEROTO, S.Sos, MM</b><br>
                  <span class="text-muted">197004021990031006</span><br>
                  <span class="text-muted">KEPALA BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA</span>
                </td>
                <td>Meningkatkan Kualitas Pelayanan Kepegawaian</td>
                <td>Terwujudnya Manajemen ASN Berbasis Sistem Merit</td>
                <td>Meningkatnya Profesionalitas ASN</td>
                <td>Meningkatnya kualitas 
                  tata kelola administrasi 
                  kepegawaian, 
                  ketatausahaan, serta 
                  sarana dan pra 
                  sarana yang sesuai NSPK</td>
                <td>Terlaksananya rencana 
                  aksi/inisiatif strategis
                  dalam rangka pencapaian 
                  sasaran dan indikator 
                  kinerja utama organisasi 
                  dalam 
                  perjanjian kerja</td>
              </tr>
              <tr>
                <td rowspan="2">
                  <b class="text-nowrap">PONGKY KURNIAWAN, S.STP., M.M.</b><br>
                  <span class="text-muted">198108162000121001</span><br>
                  <span class="text-muted">SEKRETARIS BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA</span>
                </td>
                <td>Terwujudnya dukungan 
                  pelayanan administrasi 
                  perkantoran</td>
                <td></td>
                <td></td>
                <td>Tersedianya dokumen
                  administrasi kepegawaian
                  yang sesuai NSPK</td>
                <td>Penyelesaian rencana 
                  aksi/inisiatif strategis yang 
                  berkontribusi langsung 
                  terhadap pencapaian 
                  indikator perjanjian kinerja</td>
              </tr>
              <tr>
                <td>Terwujudnya dukungan
                  sarana dan prasarana 
                  aparatur</td>
                <td></td>
                <td></td>
                <td>Tersedianya dokumen
                  ketatausahaan yang 
                  sesuai NSPK</td>
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% if skp_childs %}
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-body p-1 table-responsive">
          <table class="table table-bordered m-0 table-matriks-hasil">
            <thead class="bg-primary text-white">
              <tr>
                <th>PEGAWAI</th>
                <th colspan="{{ obj.rencanahasilkerja_set.all|organisasi:True }}" class="text-center">OUTCOME ANTARA / OUTPUT / LAYANAN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b class="text-nowrap">{{ obj.detailsasarankinerja.nama_pegawai }}</b><br>
                  <span class="text-muted">{{ obj.detailsasarankinerja.nip_pegawai }}</span><br>
                  <span class="text-muted">{{ obj.detailsasarankinerja.jabatan_pegawai }}</span>
                </td>
                {% for item in obj.rencanahasilkerja_set.all|organisasi %}
                <td>{{ item.rencana_kerja }}</td>
                {% endfor %}
              </tr>

              {% for item in skp_childs %}
              <tr data-status="unload" data-id="{{item.id}}">
                <td class="data-pegawai">
                  <b class="text-nowrap">{{ item.detailsasarankinerja.nama_pegawai }}</b><br>
                  <span class="text-muted">{{ item.detailsasarankinerja.nip_pegawai }}</span><br>
                  <span class="text-muted">{{ item.detailsasarankinerja.jabatan_pegawai }}</span>
                </td>
                {% for rhk_parent in obj.rencanahasilkerja_set.all|organisasi %}
                <td data-parent_id="{{ rhk_parent.id }}"></td>
                {% endfor %}
              </tr>
              {% endfor %}
              <!-- <tr>
                <td>
                  <b class="text-nowrap">SOEROTO, S.Sos, MM</b><br>
                  <span class="text-muted">197004021990031006</span><br>
                  <span class="text-muted">KEPALA BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA</span>
                </td>
                <td>Meningkatkan Kualitas Pelayanan Kepegawaian</td>
                <td>Terwujudnya Manajemen ASN Berbasis Sistem Merit</td>
                <td>Meningkatnya Profesionalitas ASN</td>
                <td>Meningkatnya kualitas 
                  tata kelola administrasi 
                  kepegawaian, 
                  ketatausahaan, serta 
                  sarana dan pra 
                  sarana yang sesuai NSPK</td>
                <td>Terlaksananya rencana 
                  aksi/inisiatif strategis
                  dalam rangka pencapaian 
                  sasaran dan indikator 
                  kinerja utama organisasi 
                  dalam 
                  perjanjian kerja</td>
              </tr>
              <tr>
                <td rowspan="2">
                  <b class="text-nowrap">PONGKY KURNIAWAN, S.STP., M.M.</b><br>
                  <span class="text-muted">198108162000121001</span><br>
                  <span class="text-muted">SEKRETARIS BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA</span>
                </td>
                <td>Terwujudnya dukungan 
                  pelayanan administrasi 
                  perkantoran</td>
                <td></td>
                <td></td>
                <td>Tersedianya dokumen
                  administrasi kepegawaian
                  yang sesuai NSPK</td>
                <td>Penyelesaian rencana 
                  aksi/inisiatif strategis yang 
                  berkontribusi langsung 
                  terhadap pencapaian 
                  indikator perjanjian kinerja</td>
              </tr>
              <tr>
                <td>Terwujudnya dukungan
                  sarana dan prasarana 
                  aparatur</td>
                <td></td>
                <td></td>
                <td>Tersedianya dokumen
                  ketatausahaan yang 
                  sesuai NSPK</td>
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block custom_js %}
{{ block.super }}
<script type="text/javascript">
  // Untuk set data per td perlu diperbaiki karena ada kemungkinan set datanya tidak sesuai dengan parent atasnya
  $(function(){
    let selector__ = '.table-matriks-hasil tbody tr[data-status=unload]';
    let base_element = $(selector__);

    const getData = (element) => {
      let data_id = element.data('id');
      if (typeof data_id !== "undefined"){
        $.ajax({
          url: `${BASE_URL}/admin/skp/sasarankinerja/${data_id}/get-rhk-childs`,
          type: 'GET',
          success: function(respon){
            if (respon.success){
              let terbesar = respon.terbesar;
              let elem_data_pegawai = element.find('td.data-pegawai')
              // elem_data_pegawai.attr('rowspan', terbesar);
              let html_tr_ = '';
              for (let i = 0; i < terbesar; i++) {
                if (i == 0){ // jika loopingan pertama tambahkan data pegawai
                  html_tr_ += `<tr data-status="loaded"><td class="data-pegawai" rowspan="${terbesar}">${element.find('td.data-pegawai').html()}</td>`
                } else {
                  html_tr_ += `<tr>`
                }
                for (let j = 0; j < 2; j++) {
                  let text_item = respon.results[j]?.childs[i]?.text;
                  if (typeof text_item === "undefined" || typeof text_item === undefined) {
                    text_item = '';
                  }
                  html_tr_ += `<td class="x">${text_item}</td>`;
                }
                html_tr_ += `</tr>` 
              }
              element.replaceWith(html_tr_)
            }
            // element.attr('data-status', 'loaded')
            if ($(selector__).length > 0) {
              if ($(selector__).eq(0) != 'undefined') {
                getData($(selector__).eq(0));
              }
            }
          },
          error: function(){
            element.attr('data-status', 'loaded')
            if ($(selector__).length > 0) {
              if ($(selector__).eq(0) != 'undefined') {
                getData($(selector__).eq(0));
              }
            }
          }
        })
      }
    }

    if ($(selector__).length > 0) {
      if ($(selector__).eq(0) != 'undefined') {
        getData($(selector__).eq(0));
      }
    }


    // let elem = $('tr[data-status=unload]').eq(0)
    // $.ajax({
    //   url: `${BASE_URL}/admin/skp/sasarankinerja/14/get-rhk-childs`,
    //   type: 'GET',
    //   success: function(respon){
    //     if (respon.success){
    //       let terbesar = respon.terbesar;
    //       let elem_data_pegawai = elem.find('td.data-pegawai')
    //       let html_tr_ = '';
    //       for (let i = 0; i < terbesar; i++) {
    //         if (i == 0){ // jika loopingan pertama tambahkan data pegawai
    //           html_tr_ += `<tr data-status="load"><td class="data-pegawai" rowspan="${terbesar}">${elem.find('td.data-pegawai').html()}</td>`
    //         } else {
    //           html_tr_ += `<tr>`
    //         }
    //         for (let j = 0; j < 5; j++) {
    //           let text_item = respon.results[j]?.childs[i]?.text;
    //           if (typeof text_item === "undefined" || typeof text_item === undefined) {
    //             text_item = '';
    //           }
    //           html_tr_ += `<td>${text_item}</td>`;
    //         }
    //         html_tr_ += `</tr>` 
    //       }
    //       elem.replaceWith(html_tr_)

          // let html_tr = `
          //   <tr data-status="load">
          //     <td class="data-pegawai" rowspan="${terbesar+1}">${elem.find('td.data-pegawai').html()}</td>
          //     <td>${respon.results[0]?.childs[0]?.text}</td>
          //     <td>${respon.results[1]?.childs[0]?.text}</td>
          //     <td>${respon.results[2]?.childs[0]?.text}</td>
          //     <td>${respon.results[3]?.childs[0]?.text}</td>
          //     <td>${respon.results[4]?.childs[0]?.text}</td>
          //   <tr>
          //   <tr>
          //     <td>${respon.results[0]?.childs[1]?.text}</td>
          //     <td>${respon.results[1]?.childs[1]?.text}</td>
          //     <td>${respon.results[2]?.childs[1]?.text}</td>
          //     <td>${respon.results[3]?.childs[1]?.text}</td>
          //     <td>${respon.results[4]?.childs[1]?.text}</td>
          //   </tr>
          //   <tr>
          //     <td>${respon.results[0]?.childs[2]?.text}</td>
          //     <td>${respon.results[1]?.childs[2]?.text}</td>
          //     <td>${respon.results[2]?.childs[2]?.text}</td>
          //     <td>${respon.results[3]?.childs[2]?.text}</td>
          //     <td>${respon.results[4]?.childs[2]?.text}</td>
          //   </tr>
          //   <tr>
          //     <td>${respon.results[0]?.childs[3]?.text}</td>
          //     <td>${respon.results[1]?.childs[3]?.text}</td>
          //     <td>${respon.results[2]?.childs[3]?.text}</td>
          //     <td>${respon.results[3]?.childs[3]?.text}</td>
          //     <td>${respon.results[4]?.childs[3]?.text}</td>
          //   </tr>
          //   <tr>
          //     <td>${respon.results[0]?.childs[4]?.text}</td>
          //     <td>${respon.results[1]?.childs[4]?.text}</td>
          //     <td>${respon.results[2]?.childs[4]?.text}</td>
          //     <td>${respon.results[3]?.childs[4]?.text}</td>
          //     <td>${respon.results[4]?.childs[4]?.text}</td>
          //   </tr>
          // `

          // elem.replaceWith(html_tr)
          // respon.results.map((item) => {
          //   let kolom = elem.find(`td[data-parent_id=${item.id}]`);
          //   let html_ = '';
          //   if (item.childs.length > 0) {
          //     item.childs.map(child => {
          //       console.log(child)
          //       html_ += `
          //       <td>${child.text}</td>
          //       `
          //     })
          //   } else {
          //     for (let i = 0; i <= terbesar; i++) {
          //       html_ += `
          //       <td></td>
          //       `
          //     }
          //   }
          // })
    //     }
    //   }
    // })
  })
</script>
{% endblock %}