{% extends 'admin/base_site.html' %}

{% block custom_style %}
{{ block.super }}
<style>
  .d-grid {
    display: grid;
  }

  .table-matriks-hasil {
    font-size: 11px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container p-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header p-5">
          <h6 class="m-0">Lihat {{ title }}</h6>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <tr>
              <th style="width: 25%;">SKP</th>
              <td style="width: 1%;">:</td>
              <td>Tahun 2022</td>
            </tr>
            <tr>
              <th>Periode</th>
              <td>:</td>
              <td>1 Juli 2022 - 31 Desember 2022</td>
            </tr>
            <tr>
              <th>Unit Kerja</th>
              <td>:</td>
              <td>Badan Kepegawaian Dan Pengembangan Sumber Daya Manusia</td>
            </tr>
          </table>
        </div>
        <div class="card-footer p-5">
          {% if show %}
          <button type="button" class="btn btn-primary">
            <span class="svg-icon svg-icon-seconday svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Devices/Printer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000"/>
                  <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1"/>
              </g>
            </svg><!--end::Svg Icon--></span>
            Cetak
          </button>
          {% else %}
          <a href="?show=true" class="btn btn-success">Matriks Hasil Peran</a>
          {% endif %}
        </div>
      </div>
    </div>

    {% if show %}
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-body p-1 table-responsive">
          <table class="table table-bordered m-0 table-matriks-hasil">
            <thead class="bg-primary text-white">
              <tr>
                <th>PEGAWAI</th>
                <th colspan="{{ obj.rencanahasilkerja_set.all.count }}" class="text-center">OUTCOME ANTARA / OUTPUT / LAYANAN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b class="text-nowrap">{{ obj.detailsasarankinerja.nama_pegawai }}</b><br>
                  <span class="text-muted">{{ obj.detailsasarankinerja.nip_pegawai }}</span><br>
                  <span class="text-muted">{{ obj.detailsasarankinerja.jabatan_pegawai }}</span>
                </td>
                {% for item in obj.rencanahasilkerja_set.all %}
                <td>{{ item.rencana_kerja }}</td>
                {% endfor %}
              </tr>

              {% for item in skp_childs %}
              <tr data-status="unload">
                <td>
                  <b class="text-nowrap">{{ item.detailsasarankinerja.nama_pegawai }}</b><br>
                  <span class="text-muted">{{ item.detailsasarankinerja.nip_pegawai }}</span><br>
                  <span class="text-muted">{{ item.detailsasarankinerja.jabatan_pegawai }}</span>
                </td>
                {% for rhk_parent in obj.rencanahasilkerja_set.all %}
                <td data-parent_id="{{ rhk_parent.id }}"></td>
                {% endfor %}
              </tr>
              {% endfor %}
              <!-- <tr>
                <td>
                  <b class="text-nowrap">SOEROTO, S.Sos, MM</b><br>
                  <span class="text-muted">197004021990031006</span><br>
                  <span class="text-muted">KEPALA BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA</span>
                </td>
                <td>Meningkatkan Kualitas Pelayanan Kepegawaian</td>
                <td>Terwujudnya Manajemen ASN Berbasis Sistem Merit</td>
                <td>Meningkatnya Profesionalitas ASN</td>
                <td>Meningkatnya kualitas 
                  tata kelola administrasi 
                  kepegawaian, 
                  ketatausahaan, serta 
                  sarana dan pra 
                  sarana yang sesuai NSPK</td>
                <td>Terlaksananya rencana 
                  aksi/inisiatif strategis
                  dalam rangka pencapaian 
                  sasaran dan indikator 
                  kinerja utama organisasi 
                  dalam 
                  perjanjian kerja</td>
              </tr>
              <tr>
                <td rowspan="2">
                  <b class="text-nowrap">PONGKY KURNIAWAN, S.STP., M.M.</b><br>
                  <span class="text-muted">198108162000121001</span><br>
                  <span class="text-muted">SEKRETARIS BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA</span>
                </td>
                <td>Terwujudnya dukungan 
                  pelayanan administrasi 
                  perkantoran</td>
                <td></td>
                <td></td>
                <td>Tersedianya dokumen
                  administrasi kepegawaian
                  yang sesuai NSPK</td>
                <td>Penyelesaian rencana 
                  aksi/inisiatif strategis yang 
                  berkontribusi langsung 
                  terhadap pencapaian 
                  indikator perjanjian kinerja</td>
              </tr>
              <tr>
                <td>Terwujudnya dukungan
                  sarana dan prasarana 
                  aparatur</td>
                <td></td>
                <td></td>
                <td>Tersedianya dokumen
                  ketatausahaan yang 
                  sesuai NSPK</td>
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block custom_js %}
{{ block.super }}
<script type="text/javascript">
  $(function(){
    let elem = $('tr[data-status=unload]')
    console.log(elem)
    $.ajax({
      url: `${BASE_URL}/admin/skp/sasarankinerja/14/get-rhk-childs`,
      type: 'GET',
      success: function(respon){
        console.log(respon)
        if (respon.success){
          let terbesar = respon.terbesar;
          respon.results.map((item) => {
            let kolom = elem.find(`td[data-parent_id=${item.id}]`);
            // console.log(item.id)
            let html_ = '';
            if (item.childs.length > 0) {
              // if (item.childs.length > terbesar) {
              //   terbesar = item.childs.length;
              // }
              
              item.childs.map(child => {
                console.log(child)
                html_ += `
                <td>${child.text}</td>
                `
              })
            } else {
              for (let i = 0; i <= terbesar; i++) {
                html_ += `
                <td></td>
                `
              }
            }

          })
        }
      }
    })
  })
</script>
{% endblock %}