{% extends 'admin/base_site.html' %}
{% load i18n widgets skp_template %}

{% block custom_style %}
{{ block.super }}
<style>
  table th{
    font-size: 10pt;
    color:#fdfdfd;
  }
  .field-hidden{
    display: none;
  }
  .btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .table-custom th{
    background-color: #2196f3;
  }
  .select2-selection__rendered {
    line-height: 27px !important;
  }
  .select2-container .select2-selection--single {
      height: 32px !important;
  }
  .select2-selection__arrow {
      height: 31px !important;
  }
</style>
{% endblock custom_style %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item text-muted">
    <a href="/admin" class="text-muted">Home</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="/admin/skp" class="text-muted">Skp</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="{% url 'admin:skp_sasarankinerja_changelist' %}" class="text-muted">Sasaran Kinerja</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="#" class="text-muted">SKP Bawahan</a>
  </li>
</ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="card">
    <div class="p-4 card-body">
        <table class="m-0 table table-borderless">
            <tr>
                <td style="width: 15%"><h5>Periode SKP</h5></td>
                <td><h5>:</h5></td>
                <td><h5>{{obj.get_periode}}</h5></td>
            </tr>
            <tr>
                <td style="width: 15%"><h5>Unit Kerja</h5></td>
                <td><h5>:</h5></td>
                <td><h5>{% if obj.unor_text %}{{obj.unor_text}}{% elif obj.unor %}{{obj.unor.unitkerja}}{% else %}{{pegawai.unitkerja.unitkerja}}{% endif %}</h5></td>
            </tr>
        </table>
    </div>
    <form action="" method="get" id="form-search">
    <div class="p-0 card-footer">
        <div class="py-3 px-5 d-flex">
              <div class="input-group input-group-sm mb-3">
                {% if is_bupati %}
                <select class="form-control select-filter form-control-sm"name="unitkerja" id="unitkerja_id">
                </select>
                {% endif %}
                <select class="form-control select-filter form-control-sm" name="status" id="status_id">
                  {% if request.GET.status == 0 %}
                  <option value="0" selected >Semua</option>
                  {% else %}
                  <option value="0" >Semua</option>
                  {% endif %}
                  {% for item in status_choices %}
                  {% with item.0|stringformat:"i" as selected %}
                  {% if request.GET.status == selected %}
                  <option value="{{item.0}}" selected >{{item.1}}</option>
                  {% else %}
                  <option value="{{item.0}}" >{{item.1}}</option>
                  {% endif %}
                  {% endwith %}
                  {% endfor %}
                </select>
                <input type="text" value="{{request.GET.q}}" name="q" class="form-control" placeholder="Perncarian Nama Atau NIP" aria-label="Perncarian Berdasarkan Nama Atau NIP" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
        </div>
    </div>
    </form>
</div>
<div class="card mt-5 p-1">
    <div class="p-0 card-body">
        <table class="table table-bordered table-custom table-hover">
            <thead>
                <tr>
                    <th>Unit Kerja</th>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Jabatan</th>
                    {% comment %} <th>Keterangan</th> {% endcomment %}
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% if list_skp_bawahan %}
                {% for item in list_skp_bawahan %}
                <tr>
                  <td>{{item.detailsasarankinerja.unor_pegawai}}</td>
                  <td>{{item.detailsasarankinerja.nip_pegawai}}</td>
                  <td>{{item.detailsasarankinerja.nama_pegawai}}</td>
                  <td>{{item.detailsasarankinerja.jabatan_pegawai}}</td>
                  {% comment %} <td>{{item.keterangan|default_if_none:"---"}}</td> {% endcomment %}
                  <td>{{item.get_status_display}}</td>
                  <td>
                    {% if item.status in show_detail %}
                    <a href="{% url 'admin:detail-skp' id=item.id %}?view=penilai" class="btn btn-warning btn-sm" target="_blank"><i class="fas fa-info-circle"></i> Detail</a>
                    {% endif %}
                  </td>
                </tr>    
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="6" style="text-align: center;" >Tidak Ada Data</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block custom_js %}
{{ block.super }}
<script type="text/javascript">
const handleLoadUnitkerja = async (id=null) => {
  await $.ajax({
    url: `${BASE_URL}/admin/usom/unitkerja/load-data`,
    type: 'GET',
    success: function(response){
      if(response.length > 0){
        html = `<option value="" readonly >---- Pilih Unit Kerja ----</option>`
        response.map((value, idx)=>{
          selected = "selected"
          if(value.id != id){
            selected = ""
          }
          html += `<option ${selected} value="${value.id}" >${value.text}</option>`
        })
      }else{
        html = "<option readonly >Unit Kerja Kosong</option>"
      }
      $('#unitkerja_id').html(html).select2({
        width: "resolve"
      })
    }
  })
}
$(".select-filter").on('change', function(){
  $("#form-search").submit()
})
$(function(){
  {% if request.GET.unitkerja %}
  handleLoadUnitkerja("{{request.GET.unitkerja}}")
  {% else %}
  handleLoadUnitkerja()
  {% endif %}
})
</script>
{% endblock %}