{% extends 'admin/base_site.html' %}
{% load i18n widgets skp_template %}

{% block custom_style %}
{{ block.super }}
<style>
  table th{
    font-size: 10pt;
    color:#fdfdfd;
  }
  .field-hidden{
    display: none;
  }
  .btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .table-custom th{
    background-color: #2196f3;
  }
</style>
{% endblock custom_style %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item text-muted">
    <a href="/admin" class="text-muted">Home</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="/admin/skp" class="text-muted">Skp</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="{% url 'admin:skp_sasarankinerja_changelist' %}" class="text-muted">Sasaran Kinerja</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="#" class="text-muted">SKP Bawahan</a>
  </li>
</ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="card">
    <div class="p-4 card-body">
        <table class="m-0 table table-borderless">
            <tr>
                <td style="width: 15%"><h5>Periode SKP</h5></td>
                <td><h5>:</h5></td>
                <td><h5>{{obj.get_periode}}</h5></td>
            </tr>
            <tr>
                <td style="width: 15%"><h5>Unit Kerja</h5></td>
                <td><h5>:</h5></td>
                <td><h5>{% if obj.unor_text %}{{obj.unor_text}}{% elif obj.unor %}{{obj.unor.unitkerja}}{% else %}{{pegawai.unitkerja.unitkerja}}{% endif %}</h5></td>
            </tr>
        </table>
    </div>
    <div class="p-0 card-footer">
        <div class="py-3 pr-5 d-flex justify-content-end">
            <div class="btn-group btn-sm">
                <button type="button" class="btn btn-primary btn-sm">{% trans 'Filter' %}</button>
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                        <a class="dropdown-item "href="?status=" onclick="window.location.href = window.location.pathname+'?status='">Semua</a>
                        <a class="dropdown-item "href="?status=0" onclick="window.location.href = window.location.pathname+'?status=0'">Belum buat</a>
                        {% for item in status_choices %}
                        <a class="dropdown-item "href="?status={{item.0}}" onclick="window.location.href = window.location.pathname+'?status={{item.0}}'">{{item.1}}</a>
                        {% endfor %}
                    </div>
                </button>
            </div>    
        </div>
    </div>
</div>
<div class="card mt-5 p-1">
    <div class="p-0 card-body">
        <table class="table table-bordered table-custom table-hover">
            <thead>
                <tr>
                    <th>Unit Kerja</th>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Jabatan</th>
                    {% comment %} <th>Keterangan</th> {% endcomment %}
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_skp_bawahan %}
                <tr>
                    <td>{{item.detailsasarankinerja.unor_pegawai}}</td>
                    <td>{{item.detailsasarankinerja.nip_pegawai}}</td>
                    <td>{{item.detailsasarankinerja.nama_pegawai}}</td>
                    <td>{{item.detailsasarankinerja.jabatan_pegawai}}</td>
                    {% comment %} <td>{{item.keterangan|default_if_none:"---"}}</td> {% endcomment %}
                    <td>{{item.get_status_display}}</td>
                    <td>
                        {% if item.status in show_detail %}
                            <a href="{% url 'admin:detail-skp' id=item.id %}?view=penilai" class="btn btn-warning btn-sm" target="_blank"><i class="fas fa-info-circle"></i> Detail</a>
                        {% endif %}
                    </td>
                </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}