{% extends 'admin/base_site.html' %}
{% load widgets skp_template %}

{% block custom_style %}
{{ block.super }}
<style>
  table th{
    font-size: 10pt;
    color:#fdfdfd;
  }
  .field-hidden{
    display: none;
  }
  .btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .table-custom th{
    background-color: #2196f3;
  }
  #result_list th{
    text-align: center;
    vertical-align: middle;
  }
  li.item-rencana:not(:last-child) { 
    margin-bottom: 5px !important;  
  }
</style>
{% endblock custom_style %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
  <li class="breadcrumb-item text-muted">
    <a href="/admin" class="text-muted">Home</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="/admin/skp" class="text-muted">Skp</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="#" class="text-muted">Penilaian Bawahan</a>
  </li>
  <li class="breadcrumb-item text-muted">
    <a href="#" class="text-muted">Detail Penilaian Bawahan</a>
  </li>
</ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="row px-4 pb-3">
  <div class="col-md-4">
    <div class="d-flex">
      <label class="mx-1 py-2" style="min-width: 100px;">Status SKP</label>
      <input type="text" readonly class="form-control form-control-sm" id="staticEmail" value="{{obj.get_status_display}}">
    </div>
    {% if obj.keterangan %}
    <div class="d-flex">
      <label class="mx-1 py-2" style="min-width: 100px;">Keterangan</label>
      <input type="text" readonly class="form-control form-control-sm" id="staticEmail" value="{{obj.keterangan|default_if_none:""}}">
    </div>
    {% endif %}
  </div>

  <div class="col-md-8 d-flex flex-row-reverse">
    <!-- <a href="{% url 'admin:skp_sasarankinerja_cetak' obj.id %}"> -->
    <a id="btn-cetak" class="btn btn-success mr-1" style="align-self: center" href="{% url 'admin:penilaian-bawahan-skp-cetak' obj.id periode %}">
      <i class="fas fa-print"></i> Cetak
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white p-5">
          <h6 class="m-0">PEGAWAI YANG DINILAI</h6>
      </div>
      <div class="card-body p-0">
        <table class="table">
          <tr>
            <td style="width: 30%;">Nama</td>
            <td style="width: 5%;">:</td>
            <td>{{obj.detailsasarankinerja.nama_pegawai}}</td>
          </tr>
          <tr>
            <td>NIP</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.nip_pegawai}}</td>
          </tr>
          <tr>
            <td>Pangkat / Gol. Ruang</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.golongan_pegawai}}</td>
          </tr>
          <tr>
            <td>Jabatan</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.jabatan_pegawai}}</td>
          </tr>
          <tr>
            <td>Unit Kerja</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.unor_pegawai}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white p-5">
          <h6 class="m-0">PEJABAT PENILAI KINERJA</h6>
      </div>
      <div class="card-body p-0">
        <table class="table">
          <tr>
            <td style="width: 30%;">Nama</td>
            <td style="width: 5%;">:</td>
            <td>{{obj.detailsasarankinerja.nama_pejabat}}</td>
          </tr>
          <tr>
            <td>NIP</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.nip_pejabat}}</td>
          </tr>
          <tr>
            <td>Pangkat / Gol. Ruang</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.golongan_pejabat}}</td>
          </tr>
          <tr>
            <td>Jabatan</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.jabatan_pejabat}}</td>
          </tr>
          <tr>
            <td>Unit Kerja</td>
            <td>:</td>
            <td>{{obj.detailsasarankinerja.unor_pejabat}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between mt-3 pr-4" style="padding: unset;">
  <h4 style="margin: unset;">Periode: {{periode|get_bulan|upper}}</h4>
  <h4 style="margin: unset;">Periode Penilaian: {{obj.get_periode}}</h4>
</div>


<div class="row">
  <div class="col-md-12 pt-3">
    <div class="card">
      <div class="d-flex justify-content-start card-header py-4 px-5">
        <h6 class="d-flex align-items-center m-0">HASIL KERJA</h6>
      </div>
      <div class="card-body p-2">
        <div class="table-responsive" style="border-radius: 5px;">
          <table class="table table-bordered mb-0" id="result_list">
            <thead style="background: #2196f3;">
              <tr>
                <th valign="center">No</th>
                <th valign="center" style="min-width: 250px;">Rencana Hasil Kerja Pimpinan<br>yang Diintervensi</th>
                <th valign="center" style="min-width: 250px;">Rencana Hasil Kerja</th>
                <th valign="center">Rencana Aksi</th>
                <th valign="center">Aspek</th>
                <th valign="center">Indikator Kinerja Individu</th>
                <th valign="center">Target</th>
                <th valign="center" style="min-width: 250px;">Bukti Dukung</th>
                <th valign="center" style="min-width: 250px;">Realisasi</th>
                <th valign="center" style="min-width: 250px;">Umpan Balik Berkelanjutan Berdasarkan Bukti Dukung</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="10" style="text-align: center;">Tidak Ada Data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer p-2">
        RATING HASIL KINERJA : {% if penilaian_obj %}{{penilaian_obj.rating_hasil.nama|upper}}{% endif %}<br>
        <button class="btn btn-sm btn-{% if penilaian_obj.rating_hasil %}warning{% else %}primary{% endif %} mt-2" data-toggle="modal" {% if penilaian_obj %}data-id="{{penilaian_obj.id}}"  {% if penilaian_obj.rating_hasil %} data-edit="true"{% endif %} data-hasil="{{penilaian_obj.rating_hasil.id}}"{% else %}data-edit="false"{% endif %} data-jenis="rating_hasil" data-target="#tambahhasil">
          {% if penilaian_obj.rating_hasil %}Ubah{% else %}Tambah{% endif %}
        </button>
      </div>
    </div>
  </div>
  {% if perilaku_kerja_list %}
  <div class="col-md-12 pt-3">
    <div class="card">
      <div class="d-flex justify-content-between card-header py-4 px-5">
        <h6 class="d-flex align-items-center m-0">PERILAKU KERJA</h6>
      </div>
      <div class="card-body p-2">
        <div class="table-responsive">
          <table class="table table-bordered mb-0 table-custom">
            {% for item in perilaku_kerja_list %}
            <tr>
              <td rowspan="2" style="vertical-align : middle;text-align:center; width: 5%;">{{ forloop.counter }}</td>
              <th>{{ item.perilaku_kerja }}</th>
              <th style="width: 20%;">Ekspektasi Khusus Pimpinan</th>
            </tr>
            <tr>
              <td>
                <ol>
                  {% for subitem in item.daftarperilakukerja_set.all %}
                  <li>{{ subitem.keterangan }}</li>
                  {% endfor %}
                </ol>
              </td>
              <td>
                {% daftar_ekspetasi item.id obj.id "ya" %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="card-footer p-2">
        PREDIKAT PERILAKU KERJA : {% if penilaian_obj %}{{penilaian_obj.predikat_perilaku.nama|upper}}{% endif %}<br>
        <button class="btn btn-sm btn-{% if penilaian_obj.predikat_perilaku %}warning{% else %}primary{% endif %} mt-2" data-toggle="modal" {% if penilaian_obj %}data-id="{{penilaian_obj.id}}" {% if penilaian_obj.predikat_perilaku %} data-edit="true"{% endif %}data-hasil="{{penilaian_obj.predikat_perilaku.id}}"{% else %}data-edit="false"{% endif %} data-jenis="perdikat_perilaku" data-target="#tambahhasil">
          {% if penilaian_obj.predikat_perilaku %}Ubah{% else %}Tambah{% endif %}
        </button><br>
        <div class="pt-2">
          PREDIKAT KINERJA : {% if penilaian_obj %}{{penilaian_obj.get_predikat_kerja_display|upper|default_if_none:"---"}}{% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
<div class="modal fade" id="tambahhasil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hasil_title">Tambah Hasil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="jenis" id="jenis">
        <input type="hidden" name="penilaianbawahan" id="penilaianbawahan_id">
        <div class="form-group m-0">
          <label for="hasil">Hasil</label>
          <select class="form-control" name="hasil" id="hasil_id">
            <option value="" readonly>--------</option>
            {% for item in hasil_list %}
            <option value="{{item.id}}">{{item.nama}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="save_hasil()">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="tambahumpanbalikpegawai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="umpan_title">Tambah Umpan Balik</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="umpan_id" id="umpan_id">
        <input type="hidden" name="indikator_id_umpan" id="indikator_id_umpan">
        <div class="form-group m-0">
          <label for="umpan_multiple">Umpan Balik</label>
          <select class="form-control" id="umpan_multiple" name="umpan_multiple[]" multiple="multiple" style="width: 100%;">
          </select>
        </div>
        <div class="form-group mt-2">
          <label for="umpan_balik_tambahan">Umpan Balik Tambahan</label>
          <input type="text" class="form-control" id="umpan_balik_tambahan">
          <span class="text-muted" >Jika pilihan pada umpan balik tidak tersedia, maka bisa menginputkan secara manual melalui field umpan balik lainnya</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="save_umpan()">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script type="text/javascript">
  let skp_id = "{{obj.id}}"
  let periode = "{{periode}}"
  let jenis_jabatan = "{{obj.jenis_jabatan}}"

  const validURL = (myURL) => {
    //regular expression for URL
    let pattern = /(?:^|[ \t])((https?:\/\/)?(?:localhost|[\w-]+(?:\.[\w-]+)+)(:\d+)?(\/\S*)?)/;
    
    if(pattern.test(myURL)){
        return true;
    } else {
        return false;
    }
  };
  const handleLoadUmpanBalik = (selected=null) => {
    $.ajax({
      url:`${BASE_URL}/admin/skp/umpanbalik/load`,
      method:"GET",
      success:function(res){
        if(res.success){
          html = ""
          res.data.map( item => {
            html += `<option value="${item.id}" >${item.nama}</option>`
          })
          $("#umpan_multiple").html(html).select2({
            width: 'resolve',
            closeOnSelect: false
          })
          if(selected.length > 0){
            $("#umpan_multiple").val(selected).trigger('change')
          }
        }
      }
    })
  }
  $("#tambahumpanbalikpegawai").on('show.bs.modal', function (event) {
    let modal = $("#tambahumpanbalikpegawai")
    let button = $(event.relatedTarget)
    let indikator = button.data('indikator_id')
    let edit = button.data('edit')
    let id = button.data('id')
    let umpan_multiple_id = button.data('umpan_multiple_id')

    $("#indikator_id_umpan").val(indikator)
    $("#umpan_title").html("Tambah Umpan Balik")
    $("#umpan_id").val(id)
    handleLoadUmpanBalik(umpan_multiple_id)
    if(edit){
      $("#umpan_title").html("Ubah Umpan Balik")
      let isi = $(`#umpan-balik-${id}`)
      $("#umpan_balik_tambahan").val(isi.html())
    }else{
      $("#umpan_balik_tambahan").val("")
    }
  })
  $("#tambahhasil").on('show.bs.modal', function (event) {
    let modal = $("#tambahhasil")
    let button = $(event.relatedTarget)
    let edit = button.data('edit')
    let jenis = button.data('jenis')
    let id = button.data('id')
    let hasil = button.data('hasil')
    $("#jenis").val(jenis)
    $("#hasil_title").html("Tambah Hasil")
    $("#penilaianbawahan_id").val(id)
    if(edit){
      $("#hasil_title").html("Ubah Hasil")
      $("#hasil_id").val(hasil).trigger("change")
    }else{
      $("#hasil_id").val("").trigger("change")
    }
  })
  let no = 1;

  const loadDataRHKUtama = async (jenis=1) => {
    no = 1
    // 1: Utama, 2: Tambahan
    await $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/get-data-skp/${skp_id}`,
      type: 'GET',
      data: {
        jenis: jenis,
        periode: periode
      },
      success: function(response){
        console.log({response})
        delete_html = ""
        if(response.length > 0){
          let colspan = `<td colspan="10">`
          let html_ = `<tr class="bg-dark">
                        ${colspan}
                          <span class="font-weight-bold text-white">Utama<span>
                        </td>
                      </tr>`
          response.map((item, index) => {
            let indikator =  '';
            let bukti_dukung =  '';
            let realisasi=  '';
            let umpanbalik=  '';
            var tambahan = 0;
            if (item.indikator.length > 0){
              item.indikator.map(item_indikator => {
                let button_umpan = `
                <button style="width: 70%" class="btn btn-sm btn-primary mr-1" data-indikator_id="${item_indikator.id}" data-edit="false" data-toggle="modal" data-target="#tambahumpanbalikpegawai">
                  Tambah
                </button>
                `
                if(item_indikator.umpan_balik){
                  let id_umpan = []
                  let ol_umpan = ""
                  if(item_indikator.umpan_balik.umpan_balik.length > 0){
                    ol_umpan = "<ol>"
                      item_indikator.umpan_balik.umpan_balik.map(item => {
                        id_umpan.push(item.id)
                        ol_umpan += `<li>${item.nama}</li>`
                      })
                    ol_umpan += "</ol>"
                  }
                  
                  umpanbalik = `
                  <td>
                    ${ol_umpan}
                    Umpan Balik Tambahan: <br><span id="umpan-balik-${item_indikator.umpan_balik.id}">${item_indikator.umpan_balik.umpan_balik_tambahan ? item_indikator.umpan_balik.umpan_balik_tambahan : ''}</span>
                    <div class="d-flex justify-content-center pt-3">
                      <button class="btn btn-sm btn-warning mr-1" data-id="${item_indikator.umpan_balik.id}" data-indikator_id="${item_indikator.id}" data-edit="true" data-umpan_multiple_id="[${id_umpan}]" data-toggle="modal" data-target="#tambahumpanbalikpegawai">
                        <i class="flaticon2-pen"></i>
                      </button>
                      <a onclick="delete_action('${item_indikator.umpan_balik.delete_url}')" class="btn btn-icon btn-danger">
                        <i class="flaticon-delete-1"></i>
                      </a>
                    </div>
                </td>
                  `
                }else{
                  umpanbalik = `
                    <td style="text-align: center">
                      ${button_umpan}
                    </td>
                  `
                }
                if(item_indikator.bukti_dukung){
                  bukti_dukung = `
                  <td>
                    <a href="${item_indikator.bukti_dukung.link}" target="_blank" id="bukti-${item_indikator.bukti_dukung.id}">${item_indikator.bukti_dukung.nama}</a>
                </td>
                  `
                }else{
                  bukti_dukung = `
                    <td style="text-align: center">
                    </td>
                  `
                }
                if(item_indikator.realisasi){
                  realisasi = `
                  <td>
                    <p>${item_indikator.realisasi.realisasi} berdasarkan ${item_indikator.realisasi.sumber}</p>
                    <div style="display: none" id="realisasi-${item_indikator.realisasi.id}">${item_indikator.realisasi.realisasi}</div>
                    <div style="display: none" id="sumber-${item_indikator.realisasi.id}">${item_indikator.realisasi.sumber}</div>
                </td>
                  `
                }else{
                  realisasi = `
                    <td style="text-align: center">
                    </td>
                  `
                }
                let html_jenis_jabatan = `<td id="aspek-${item_indikator.id}">${item_indikator.aspek ? item_indikator.aspek : '-'}</td>`
                if(jenis_jabatan == "1"){
                  html_jenis_jabatan = `<td id="perspektif-${item_indikator.id}">${item_indikator.perspektif ? item_indikator.perspektif : '-'}</td>`
                }
                indikator += `
                <tr>
                  ${html_jenis_jabatan}
                  <td>
                    <span id="indikator-${item_indikator.id}" >${item_indikator.indikator}</span>
                  </td>
                  <td id="target-${item_indikator.id}">${item_indikator.target}</td>
                  ${bukti_dukung}
                  ${realisasi}
                  ${umpanbalik}
                </tr>
                `
              })
            } else {
              delete_html = `
              `
            }

            if (item.indikator.length > 0){
              indikator += `

              `
            }
            // Rencana Aksi
            ol = `<ol style="margin: unset; padding-left: 10px;">`
              item.rencana_aksi.map((item)=>{
                ol += `<li class="item-rencana" style="margin: unset;">${item}</li>`
              })
            ol += "</ol>"

            let induk_elem = `
                <td rowspan="${item.indikator.length+1}">
                  ${item?.induk ? item.induk.rencana_kerja : ''}
                </td>
              `
            html_ += `
            <tr>
                <td rowspan="${item.indikator.length+1}">${no}</td>
                ${induk_elem}
                <td rowspan="${item.indikator.length+1}">
                  ${item.rencana_kerja}
                </td>
                <td rowspan="${item.indikator.length+1}">
                  ${ol}
                </td>
              </tr>
              ${indikator}
            `
            no += 1;
          })
          $('#result_list > tbody').html(html_);
        }
      }
    })
  }

  const loadDataRHKTambahan = async () => {
    no = 1
    await $.ajax({
      url: `${BASE_URL}/admin/skp/rencanahasilkerja/get-data-skp/${skp_id}`,
      type: 'GET',
      data: {
        jenis: 2,
        periode: periode
      },
      success: function(response){
        console.log({response})
        delete_html = ""
        if(response.length > 0){
          let colspan = `<td colspan="10">`
            
          let html_ = `<tr class="bg-dark">
                        ${colspan}
                          <span class="font-weight-bold text-white">Tambahan<span>
                        </td>
                      </tr>`
          response.map((item, index) => {
            let indikator =  '';
            let bukti_dukung =  '';
            let realisasi=  '';
            var tambahan = 0;
            if (item.indikator.length > 0){
              item.indikator.map(item_indikator => {
                let button_umpan = `
                <button style="width: 70%" class="btn btn-sm btn-primary mr-1" data-indikator_id="${item_indikator.id}" data-edit="false" data-toggle="modal" data-target="#tambahumpanbalikpegawai">
                  Tambah
                </button>
                `
                if(item_indikator.umpan_balik){
                  let id_umpan = []
                  let ol_umpan = ""
                  if(item_indikator.umpan_balik.umpan_balik.length > 0){
                    ol_umpan = "<ol>"
                      item_indikator.umpan_balik.umpan_balik.map(item => {
                        id_umpan.push(item.id)
                        ol_umpan += `<li>${item.nama}</li>`
                      })
                    ol_umpan += "</ol>"
                  }
                  
                  umpanbalik = `
                  <td>
                    ${ol_umpan}
                    Umpan Balik Tambahan: <br><span id="umpan-balik-${item_indikator.umpan_balik.id}">${item_indikator.umpan_balik.umpan_balik_tambahan ? item_indikator.umpan_balik.umpan_balik_tambahan : ''}</span>
                    <div class="d-flex justify-content-center pt-3">
                      <button class="btn btn-sm btn-warning mr-1" data-id="${item_indikator.umpan_balik.id}" data-indikator_id="${item_indikator.id}" data-edit="true" data-umpan_multiple_id="[${id_umpan}]" data-toggle="modal" data-target="#tambahumpanbalikpegawai">
                        <i class="flaticon2-pen"></i>
                      </button>
                      <a onclick="delete_action('${item_indikator.umpan_balik.delete_url}')" class="btn btn-icon btn-danger">
                        <i class="flaticon-delete-1"></i>
                      </a>
                    </div>
                </td>
                  `
                }else{
                  umpanbalik = `
                    <td style="text-align: center">
                      ${button_umpan}
                    </td>
                  `
                }
                if(item_indikator.bukti_dukung){
                  bukti_dukung = `
                  <td>
                    <a href="${item_indikator.bukti_dukung.link}" target="_blank" id="bukti-${item_indikator.bukti_dukung.id}">${item_indikator.bukti_dukung.nama}</a>
                    <div class="d-flex">
                      <button class="btn btn-sm btn-warning mr-1" data-id="${item_indikator.bukti_dukung.id}" data-indikator_id="${item_indikator.id}" data-edit="true" data-toggle="modal" data-target="#tambahhasil">
                        <i class="flaticon2-pen"></i>
                      </button>
                      <a onclick="delete_action('${item_indikator.bukti_dukung.delete_url}')" class="btn btn-icon btn-danger">
                        <i class="flaticon-delete-1"></i>
                      </a>
                    </div>
                </td>
                  `
                }else{
                  bukti_dukung = `
                    <td>
                    </td>
                  `
                }
                if(item_indikator.realisasi){
                  realisasi = `
                  <td>
                    <p>${item_indikator.realisasi.realisasi} berdasarkan ${item_indikator.realisasi.sumber}</p>
                    <div style="display: none" id="realisasi-${item_indikator.realisasi.id}">${item_indikator.realisasi.realisasi}</div>
                    <div style="display: none" id="sumber-${item_indikator.realisasi.id}">${item_indikator.realisasi.sumber}</div>
                </td>
                  `
                }else{
                  realisasi = `
                    <td style="text-align: center">
                    </td>
                  `
                }
                let html_jenis_jabatan = `<td id="aspek-${item_indikator.id}">${item_indikator.aspek ? item_indikator.aspek : '-'}</td>`
                if(jenis_jabatan == "1"){
                  html_jenis_jabatan = `<td id="perspektif-${item_indikator.id}">${item_indikator.perspektif ? item_indikator.perspektif : '-'}</td>`
                }
                indikator += `
                <tr>
                  ${html_jenis_jabatan}
                  <td>
                    <span  id="indikator-${item_indikator.id}" >${item_indikator.indikator}</span>
                  </td>
                  <td id="target-${item_indikator.id}">${item_indikator.target}</td>
                  ${bukti_dukung}
                  ${realisasi}
                  ${umpanbalik}
                </tr>
                `
              })
            } else {
              delete_html = `
              `
            }

            if (item.indikator.length > 0){
              indikator += `

              `
            }

            ol = `<ol style="margin: unset; padding-left: 10px;">`
              item.rencana_aksi.map((item)=>{
                ol += `<li class="item-rencana" style="margin: unset;">${item}</li>`
              })
            ol += "</ol>"

            let induk_elem = `
                <td rowspan="${item.indikator.length+1}">
                  ${item?.induk ? item.induk.rencana_kerja : ''}
                </td>
              `
            if(jenis_jabatan == "1"){
              induk_elem = ""
            }
            html_ += `
            <tr>
                <td rowspan="${item.indikator.length+1}">${no}</td>
                ${induk_elem}
                <td rowspan="${item.indikator.length+1}">
                  ${item.rencana_kerja} ${item.penugasan_dari ? `(Penugasan dari ${item.penugasan_dari})` : ''}
                </td>
                <td rowspan="${item.indikator.length+1}">
                  ${ol}
                </td>
              </tr>
              ${indikator}
            `
            no += 1;
          })
          $('#result_list > tbody').append(html_);
        }
      }
    });
  }

  const startLoad = () => {
    loadDataRHKUtama().then(() => {
      // loadIndikatorRHKNone()
      loadDataRHKTambahan()
    })
  }

  $(function(){
    startLoad()
  })
  const save_hasil = () => {
    let modal = $("#tambahhasil")
    let jenis = $("#jenis").val()
    var penilaianbawahan_id = $("#penilaianbawahan_id").val()
    if(penilaianbawahan_id == ""){
      penilaianbawahan_id = null
    }
    let hasil_id = $("#hasil_id").val()
    let csrf = modal.find('input[name=csrfmiddlewaretoken]').val();
    if(hasil_id != ""){

      $.ajax({
        url: `${BASE_URL}/admin/skp/penilaianbawahan/create`,
      type: 'POST',
      data: {
        csrfmiddlewaretoken: csrf,
        skp_id: skp_id,
        jenis: jenis,
        penilaianbawahan: penilaianbawahan_id,
        periode: periode,
        hasil: hasil_id,
      },
      success: function(response){
        if(response.success){
          toastr.success(response.pesan);
          window.location.reload()
        } else {
          toastr.warning(response.pesan);
        }
      }
    })
  }else{
    toastr.warning("isian hasil tidak boleh kosong");
  }
  }
  const save_umpan = () => {
    let modal = $("#tambahumpanbalikpegawai")
    let umpan_id = $("#umpan_id").val()
    let indikator_id = $("#indikator_id_umpan").val()
    let umpan_multiple = $("#umpan_multiple").val()
    let umpan_balik_tambahan = $("#umpan_balik_tambahan").val()
    let csrf = modal.find('input[name=csrfmiddlewaretoken]').val();
    $.ajax({
      url: `${BASE_URL}/admin/skp/umpanbalikpegawai/create`,
      type: 'POST',
      data: {
        csrfmiddlewaretoken: csrf,
        indikator_id: indikator_id,
        periode: periode,
        umpan_id: umpan_id,
        umpan_list: JSON.stringify(umpan_multiple),
        umpan_balik_tambahan: umpan_balik_tambahan,
      },
      success: function(response){
        if(response.success){
          toastr.success(response.pesan);
          window.location.reload()
        } else {
          toastr.warning(response.pesan);
        }
      }
    })  
  }
  const delete_action = (url) => {
    Swal.fire({
      title: 'Apakah anda yakin ingin menghapus data ini?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: "Iya, Hapus",
      cancelButtonText: "Tidak, batalkan!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: url,
          type: 'GET',
          success: function(response){
            if(response.success){
              Swal.fire({
                icon: 'success',
                title: 'Berhasil',
                text: response.pesan,
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
              }).then(function() {
                window.location.reload()
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: response.pesan,
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
              })
            }
          }
        })
      }
    })
  }
</script>
{% endblock custom_js %}