{% extends 'admin/base_site.html' %}
{% load i18n skp_template %}

{% block content %}
<div class="card ">
    <div class="card-body p-0">
        <table class="table">
          <tr>
            <th style="width: 10%;">SKP</th>
            <td style="width: 1%;">:</td>
            <td>Tahun {{obj.periode_awal.year}}</td>
          </tr>
          <tr>
            <th>Periode</th>
            <td>:</td>
            <td>{% get_complete_periode obj.periode_awal obj.periode_akhir %}</td>
          </tr>
          <tr>
            <th>Unit Kerja</th>
            <td>:</td>
            <td>{{obj.unor.unitkerja}}</td>
          </tr>
        </table>
      </div>
</div>
<div class="d-flex justify-content-end mt-3">
    <form action="" method="get" id="form-search">
        <div class="input-group">
            <select class="form-control select-filter" name="status" id="status_id">
                {% for item in status_choices %}
                {% with item.0|stringformat:"i" as selected %}
                {% if request.GET.status == selected %}
                <option value="{{item.0}}" selected >{{item.1}}</option>
                {% else %}
                <option value="{{item.0}}" >{{item.1}}</option>
                {% endif %}
                {% endwith %}
                {% endfor %}
              </select>
            <input type="hidden" class="form-control" name="b64" value="{{request.GET.b64}}" placeholder="Cari" aria-label="Cari" aria-describedby="basic-addon2">
            <input type="text" class="form-control" name="cari" value="{{request.GET.cari}}" placeholder="Cari" aria-label="Cari" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search" ></i></button>
            </div>
        </div>
    </form>
</div>
<div class="card mt-4 p-0 m-0">
    <div class="card-body p-0 m-0">
        <table class="table table-bordered table-hover" >
            <thead>
                <tr>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Jabatan</th>
                    <th>Unit Kerja</th>
                    <th>Status Penilaian</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% if penilaian_list %}
                {% for item in penilaian_list %}
                <tr>
                    <td>{{item.skp.detailsasarankinerja.nip_pegawai}}</td>
                    <td>{{item.skp.detailsasarankinerja.nama_pegawai}}</td>
                    <td>{{item.skp.detailsasarankinerja.jabatan_pegawai}}</td>
                    <td>{{item.skp.detailsasarankinerja.unor_pegawai}}</td>
                    <td>{% get_penilaian_bawahan_status item.skp.pegawai obj periode %}</td>
                    <td>{% get_detail_skp item.skp.pegawai obj periode %}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" style="text-align: center">Tidak ada Data</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script>
    $(".select-filter").on('change', function(){
        $("#form-search").submit()
      })
</script>
{% endblock custom_js %}