{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Reset Password Confirm{% endblock title %}
{% block main_content %}
<div class="login-form">
	<div class="text-center mb-10 mb-lg-20">
		<h3 class="font-size-h1">Set new password</h3>
		<p class="text-muted font-weight-bold">Please enter (and confirm) your new password.</p>
	</div>
	<!--begin::Form-->
	<form class="form" method="POST" novalidate="novalidate" >
		{% csrf_token %}
		<div class="form-group">
            <label for="new_password1">Password</label>
			<input {% if form.errors.new_password1 %}style="border:1px solid red"{% endif %} id="new_password1" class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Password" name="new_password1" autocomplete="off" />
			{% if form.errors.new_password1 %}
				{% for error in form.errors.new_password1 %}
				<div class="fv-plugins-message-container"><div data-field="password" data-validator="notEmpty" class="fv-help-block">{{ error }}</div></div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-group">
            <label for="new_password2">Confirm Password</label>
			<input {% if form.errors.new_password2 %}style="border:1px solid red"{% endif %} id="new_password2" class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Password" name="new_password2" autocomplete="off" />
			{% if form.errors.new_password2 %}
				{% for error in form.errors.new_password2 %}
				<div class="fv-plugins-message-container"><div data-field="password" data-validator="notEmpty" class="fv-help-block">{{ error }}</div></div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-group d-flex flex-wrap flex-center">
			<button type="submit" id="kt_login_forgot_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Submit</button>
		</div>
	</form>
	<!--end::Form-->
</div>
{% endblock main_content %}