{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main_content %}
<div class="login-form">
	<div class="text-center mb-10 mb-lg-20">
		<h3 class="font-size-h1">Forgotten Password ?</h3>
		<p class="text-muted font-weight-bold">Enter your email to reset your password</p>
	</div>
	<!--begin::Form-->
	<form class="form" method="POST" novalidate="novalidate" >
		{% csrf_token %}
		<div class="form-group">
			<input {% if form.errors.email %}style="border:1px solid red"{% endif %} class="form-control form-control-solid h-auto py-5 px-6" type="email" placeholder="Email" name="email" autocomplete="off" />
			{% if form.errors.email %}
				{% for error in form.errors.email %}
				<div class="fv-plugins-message-container"><div data-field="email" data-validator="notEmpty" class="fv-help-block">{{ error }}</div></div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-group d-flex flex-wrap flex-center">
			<button type="submit" id="kt_login_forgot_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Submit</button>
			<a href="{% url 'admin_dashboard' %}" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</a>
		</div>
	</form>
	<!--end::Form-->
</div>
{% endblock main_content %}